{% extends 'concept-master/basee.html' %}
{% block body %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-10">
                        <!-- ============================================================== -->
                        <!-- pageheader  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header" id="top">
                                    <h2 class="pageheader-title">App Integrations </h2>
                                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">App Integrations</a></li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end pageheader  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- overview  -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- end card list group  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- card varience  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="section-block" id="card-variance">
                                    <h3 class="section-title">Integrations </h3>
                                    <p> Easily integrate other apps into abitrack with a click. </p>
                                </div>
                            </div>
                            <!-- grid column -->

                            <!-- /grid column -->
                            <!-- grid column -->
                            
                            <!-- /grid column -->
                            <!-- grid column -->
                            
                            <!-- /grid column -->
                           
                            <!-- /grid column -->
                            <!-- grid column -->
                            
                            <!-- /grid column -->
                            <!-- grid column -->
                            
                                <!-- /.card -->
                            <!-- /grid column -->
                            <!-- grid column -->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- .card -->
                                <div class="card card-figure">
                                    <!-- .card-figure -->
                                    <figure class="figure">
                                        <!-- .figure-img -->
                                        <div class="figure-img">
                                            <img class="img-fluid" src="https://go.qoblex.com/content/images/shopify-banner.png" alt="Card image cap">
                                            <div class="figure-description">
                                               <!-- <p class="text-muted mb-0">
                                                    <small>Laboriosam neque officia adipisci quo ut placeat labore? Doloribus, ipsam? Voluptates, minus.</small>
                                                </p>-->
                                            </div>
                                            <div class="figure-tools">
                                                <a href="#" class="tile tile-circle tile-sm mr-auto"><span class="oi oi-data-transfer-download"></span></a>
                                                <span class="badge badge-warning">Gadget</span>
                                            </div>
                                            <div class="figure-action">
                                                <a href="#" class="btn btn-block btn-sm btn-primary">+ Add Store</a>
                                            </div>
                                        </div>
                                        <!-- /.figure-img -->
                                        <figcaption class="figure-caption">
                                            <ul class="list-inline d-flex text-muted mb-0">
                                                <li class="list-inline-item mr-auto">
                                                    <span class="oi oi-paperclip"></span> Shopify is a leading cloud-based, multichannel commerce platform designed for small and medium-sized businesses </li>
                                                <li class="list-inline-item">
                                                    <span class="oi oi-calendar"></span>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <!-- /.card-figure -->
                                </div>
                                <!-- /.card -->
                            </div>
                            
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- .card -->
                                <div class="card card-figure">
                                    <!-- .card-figure -->
                                    <figure class="figure">
                                        <!-- .figure-img -->
                                        <div class="figure-img">
                                            <img class="img-fluid" src="https://go.qoblex.com/content/images/quickbooks/qb-logo-stacked.svg" alt="Card image cap">
                                            <div class="figure-description">
                                               <!-- <p class="text-muted mb-0">
                                                    <small>Laboriosam neque officia adipisci quo ut placeat labore? Doloribus, ipsam? Voluptates, minus.</small>
                                                </p>-->
                                            </div>
                                            <div class="figure-tools">
                                                <a href="#" class="tile tile-circle tile-sm mr-auto"><span class="oi oi-data-transfer-download"></span></a>
                                                <span class="badge badge-warning">Gadget</span>
                                            </div>
                                            <div class="figure-action">
                                                <a href="#" class="btn btn-block btn-sm btn-primary">+ Add Store</a>
                                            </div>
                                        </div>
                                        <!-- /.figure-img -->
                                        <figcaption class="figure-caption">
                                            <ul class="list-inline d-flex text-muted mb-0">
                                                <li class="list-inline-item mr-auto">
                                                    <span class="oi oi-paperclip"></span> Sync your orders to your QuickBooks account and enjoy seamless product, customer and financial reporting with just a couple of clicks </li>
                                                <li class="list-inline-item">
                                                    <span class="oi oi-calendar"></span>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <!-- /.card-figure -->
                                </div>
                                <!-- /.card -->
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- .card -->
                                <div class="card card-figure">
                                    <!-- .card-figure -->
                                    <figure class="figure">
                                        <!-- .figure-img -->
                                        <div class="figure-img">
                                            <img class="img-fluid" src="https://go.qoblex.com/content/images/api-banner.png" alt="Card image cap">
                                            <div class="figure-description">
                                               <!-- <p class="text-muted mb-0">
                                                    <small>Laboriosam neque officia adipisci quo ut placeat labore? Doloribus, ipsam? Voluptates, minus.</small>
                                                </p>-->
                                            </div>
                                            <div class="figure-tools">
                                                <a href="#" class="tile tile-circle tile-sm mr-auto"><span class="oi oi-data-transfer-download"></span></a>
                                                <span class="badge badge-warning">Gadget</span>
                                            </div>
                                            <div class="figure-action">
                                                <a href="#" class="btn btn-block btn-sm btn-primary">+ Add Store</a>
                                            </div>
                                        </div>
                                        <!-- /.figure-img -->
                                        <figcaption class="figure-caption">
                                            <ul class="list-inline d-flex text-muted mb-0">
                                                <li class="list-inline-item mr-auto">
                                                    <span class="oi oi-paperclip"></span> Our developer APIs enable you to unlock nearly endless possibilities to develop integrations between Qoblex and other software and trading partners </li>
                                                <li class="list-inline-item">
                                                    <span class="oi oi-calendar"></span>
                                                </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <!-- /.card-figure -->
                                </div>
                                <!-- /.card -->
                            </div>
                            
                            <!-- /grid column -->
                            <!-- grid column -->
                            
                            <!-- /grid column -->
                            <!-- grid column -->
                            
                            <!-- /grid column -->
                            <!-- grid column -->
                            
                            <!-- /grid column -->
                        </div>
                        <!-- ============================================================== -->
                        <!-- end card varience  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!--  sidebar nav fixed  -->
                    <!-- ============================================================== -->
                    
                    <!-- ============================================================== -->
                    <!--  end sidebar nav fixed  -->
                    <!-- ============================================================== -->
                </div>
            </div>
{% endblock body %}