<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/mainassets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../static/mainassets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/mainassets/libs/css/style.css">
    <link rel="stylesheet" href="../static/mainassets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center">
                <h3 class="mb-1 text-center">Sign In to Abitrack</h3>
                <p class="text-center">Please enter your user information.</p>
                </div>
           
          
            <div class="card-body">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-primary mb-3" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <div class="form-group">
                        <label>Email Address</label>
                        <input class="form-control form-control-lg" id="username" type="email" name="email" placeholder="Enter your email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control form-control-lg" type="password" name="password" id="myInput" placeholder="Enter your password">
                    </div>
                   <!-- <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input"  onclick="myFunction()" type="checkbox"><span class="custom-control-label">Show Password</span>
                        </label>
                    </div>

                  
                    <button type="submit" class="fs-4 btn btn-block p-3 btn-primary shadow" type="submit" style="font-size:15px; background:#5e3bc1; border:none; border-radius:10px;">Sign in</button>
                    <div class="form-group mt-0">
                      
                    </div>
                    <div class="form-group row pt-0">
                   
                        

                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <h4 class="text-center">Or </h4>
                            <a href="/">  <button class="btn btn-block btn-social btn- shadow mb-3 p-2" style="background:#fff; border-radius:10px;" type="button"><img src="https://static-00.iconduck.com/assets.00/google-icon-1024x1024-ilkrdfcp.png" style="width:35px;"> Continue with Google</button>
                               
                                <!--<a href="/signmein">  <button class="btn btn-block btn-social btn- shadow p-3" style="background:#fff; border-radius:10px;" type="button"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcazeHuAcZDzv4_61fPLT-S00XnaKXch2YWQ&s" style="width:30px;"> Use email Address</button>-->
                          </a>
                        </div>
                       
                    </div>
                </form>
            </div>
           <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    Forgot Password? <a href="/" class="footer-primary">Click here.</a></div>
              <!-- <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Forgot Password</a>
                </div>-->
            </div>
        </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->


    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
    </script>
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../static/mainassets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../static/mainassets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>
 
</html>