{% extends 'concept-master/basee.html' %}
{% block body %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content ">
             
                    <div class="row">
                        <div class="col-xl-10">
                            <!-- ============================================================== -->
                            <!-- pageheader  -->
                            <!-- ============================================================== -->
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="page-header" id="top">
                                        <h2 class="pageheader-title">Overview Documentation </h2>
                                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                                        <div class="page-breadcrumb">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Documentation</a></li>
                                                    
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end pageheader  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- overview  -->
                            <!-- ============================================================== -->
                            <div class="page-section" id="overview">
                                <div class="row">
                                     <div class="card" id="un-list">
                                        <h5 class="card-header">Terms Of Use</h5>
                                        <div class="card-body">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h2>Terms and Conditions</h2>
                                        <p class="lead">Welcome to Abitrack, an online inventory and orders management service designed especially for small to medium businesses. These Terms of Use are intended to explain our obligations as a service provider and Your obligations as a customer. Please read them carefully.
<br><br>
                                            These Terms are binding on any use of the Service and apply to You from the time that Abitrack provides You with access to the Service.
                                            <br><br>
                                            The Abitrack Service will evolve over time based on user feedback. These Terms are not intended to answer every question or address every issue raised by the use of the Abitrack Service. Abitrack reserves the right to change these terms at any time, effective upon the posting of modified terms and Abitrack will make every effort to communicate these changes to You via email or notification via the Website. It is likely the terms of use will change over time. It is Your obligation to ensure that You have read, understood and agree to the most recent terms available on the Website.
                                            <br><br>
                                            By registering to use the Service you acknowledge that You have read and understood these Terms and have the authority to act on behalf of any person for whom You are using the Service. You are deemed to have agreed to these Terms on behalf of any entity for whom you use the Service.
                                            
                                           </p>
                                        <!--<ul class="list-unstyled arrow">
                                            <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                            <li>Mauris bibendum massa ut porttitor congue.</li>
                                            <li>Morbi condimentum magna eget facilisis accumsan.</li>
                                            <li>Proin euismod eros nec libero efficitur, a dapibus mauris condimentum. </li>
                                        </ul>-->
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end overview  -->
                            <!-- ============================================================== -->
                          
                            <!-- ============================================================== -->
                            <!-- display headings  -->
                            <!-- ============================================================== -->
                          
                            <!-- ============================================================== -->
                            <!-- end display headings  -->
                            <!-- ============================================================== -->
                            
                            <!-- ============================================================== -->
                            <!-- alignment  -->
                            <!-- ============================================================== -->
                            
                            <!-- ============================================================== -->
                            <!-- end alignment  -->
                            <!-- ============================================================== -->
                            
                            
                                <!-- ============================================================== -->
                                <!-- end ordered list  -->
                                <!-- ============================================================== -->
                            
                            
                            
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 ">
                            <!-- ============================================================== -->
                            <!--side navbar  -->
                            <!-- ============================================================== -->
                            <div class="sidebar-nav-fixed">
                                <ul class="list-unstyled">
                                    <li><a href="#overview" class="active">Overview</a></li>
                                    <li><a href="#headings">Terms Of Use</a></li>
                                    <li><a href="#d-heading">Documentation</a></li>
                                    <li><a href="#text">API</a></li>
                                    <!--<li><a href="#align">Alignment</a></li>
                                    <li><a href="#u-list">Unordered list</a></li>
                                    <li><a href="#o-list">Ordered list</a></li>
                                    <li><a href="#un-list">Unstyled list</a></li>
                                    <li><a href="#styled-list">Styled list</a></li>
                                    <li><a href="#text-elements">Inline text elements</a></li>
                                    <li><a href="#blockquote">Blockquote</a></li>-->
                                    <li><a href="#top">Back to Top</a></li>
                                </ul>
                            </div>
                            <!-- ============================================================== -->
                            <!-- side navbar  -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
             
            </div>
            {% endblock body %}