body{
  min-height:85vh;
  display: flex;
  flex-direction: column;
}
*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
#nav-btn{
  fill:white;
  height:40px;
  position:absolute;
  right:10px;
  top:7px;
  display:none;
}
.vertical-line{
	margin-top:30px;
	margin-bottom:30px;
	width:35px;
	border-bottom:#F7F7F7 4px solid;
}

body {
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232525;
}

aside{
	position:fixed;
	
	width:300px;
	padding-top:30px;
	padding-left:25px;
	top:0;
	bottom:0;
	background: linear-gradient(90deg, rgb(36, 10, 0) 0%, rgb(173, 12, 39) 0%, rgb(233, 95, 41) 100%);
	z-index:400;
}

header{
	float:left;
	width:calc(93% - 230px);
	width:-moz-calc(93% - 230px);
	width:-webkit-calc(93% - 230px);
	padding-left:calc(230px + 7%);
	padding-left:-moz-calc(230px + 7%);
	padding-left:-webkit-calc(230px + 7%);
	padding-top:10px;
	padding-bottom:10px;
	background-color:rgba(247, 247, 247, .9);
	border-bottom:#2b99ff 2px solid;
	position:fixed;
	z-index:300;
}

article{
	float:left;
	
	margin-left: calc(230px + 9%);
	margin-left: -moz-calc(230px + 9%);
	margin-left: -webkit-calc(230px + 9%);
	
	margin-right: 9%;
	padding-top:150px;
	
	width:calc(82% - 230px);
	width:-moz-calc(82% - 230px);
	width:-webkit-calc(82% - 230px);
	
	padding-bottom: 10px;
}

footer{
  margin-left: calc(230px + 9%);
	margin-left: -moz-calc(230px + 9%);
	margin-left: -webkit-calc(230px + 9%);
	
  margin-top:auto;
  width:calc(82% - 230px);
	width:-moz-calc(82% - 230px);
	width:-webkit-calc(82% - 230px);
	
}

.footer{
  position:fixed;
  bottom: 0;

	padding-bottom: 20px;

}
nav{
  margin-right:60px;;
}

nav ul{
}

nav ul li{
  margin-top:30px;
	line-height:30px;
  text-align: center;
  border: 1px solid #fff;padding:10px;
      border-radius: 20px;
}

nav ul li a{
	color:#e3e2e2;
}

nav ul li:hover{
	color:#2b99ff;
}

#products{
	padding-top:40px;
	font-weight:bold;
	color:#F7F7F7;
}

h5{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
  text-align: center;
	
	font-size: 1.5em;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:2.4em;
	font-weight:bold;
	color:#474958;	
	-webkit-transition: font-size 0.3s;
	-moz-transition: font-size 0.3s;
	-o-transition: font-size 0.3s;
	transition: font-size 0.3s;
}

.icon-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
  }
  
  .icon-button i {
	/* Customize the icon styles here */
	color: #333;
	font-size: 24px;
  }
  
@media (max-width: 730px) {
	h2{
  	font-size:2em;
  }
  aside{
		float:left;
		width:95%;
		padding-left: 5%;
		position:relative;
		float:left;
		padding-top: 10px;
		padding-bottom:10px;
	}
  footer{
    float:left;
		width:95%;
   
		padding-left: 5%;
		position:relative;
		float:left;
    margin: auto;
		
  }
	header{
		float:left;
		position:relative;
		width:95%;
		padding-left:5%;
	}
	nav{
	  display:none;
  }
  #nav-btn{
    fill:white;
    height:40px;
    width:40px;
    position:absolute;
    right:7px;
    top:7px;
    display:block;
    cursor: pointer;
  }
	h1{
		margin-bottom: 0px;
	}
	.vertical-line {
		margin-top: 20px;
		margin-bottom: 20px;
    display:none;
	}
	#products {
		padding-top: 0;
	}
	article{
		float:left;
		width:90%;
		margin-left: 5%;
		margin-right: 5%;
		padding-top:50px;
	}
 

}

select{
  -webkit-appearance: none;
}

input{
  -webkit-appearance: none;
}
.inputCard{
  /* box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1); */
  border-radius: 10px;    
  border: none;
  padding: 10px;
  height: 70px;
  width: 100%;

  box-shadow: 0 2px 8px 0 rgba(13, 10, 44, 0.06),0 2px 8px 0 rgba(13, 10, 44, 0.06), 0 60px 80px 0 rgba(74, 58, 255, 0.02), 0 40px 50px 0 rgba(74, 58, 255, 0.05);
}
.inputTextHolder{
    width: 100%;
    margin-top: 5vh;
    /* box-shadow: 0 2px 8px 0 rgba(13, 10, 44, 0.06), 0 60px 80px 0 rgba(74, 58, 255, 0.02), 0 40px 50px 0 rgba(74, 58, 255, 0.05); */
}

.inputTextCard{
    /* box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1); */
    border-radius: 10px;    
    border: none;
    padding: 20px;
    width: 100%;
    /* margin-bottom: 5vh; */
    margin-top: 0;
    box-shadow: 0 2px 8px 0 rgba(13, 10, 44, 0.06), 0 60px 80px 0 rgba(74, 58, 255, 0.02), 0 40px 50px 0 rgba(74, 58, 255, 0.05);
}

@keyframes typing {
	from {
	  width: 0;
	}
	to {
	  width: 100%;
	}
  }
  
  #typing-text {
	overflow: hidden;
	white-space: nowrap;
	animation: typing 1s steps(40) ;
  }
  