

.admin__main .upgradeAccount {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "girl header boy close" "girl description boy close" "girl button boy close";
    padding: 0 var(--spacing-xs);
    gap: var(--spacing-xs);
    background-color: var(--light-orange);
    align-items: center;
    text-align: center;
}

.admin__main .upgradeAccount .person {
    height: 10em;
}

.admin__main .upgradeAccount .person.girl {
    grid-area: girl;
}

.admin__main .upgradeAccount .person.boy {
    grid-area: boy;
}

.admin__main .upgradeAccount .person.boy::after {
    /* background-image: url('./img/boy.png'); */
}

.upgradeAccount__text {
    /* display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) 0;
    align-items: center;
    text-align: center; */
}

.upgradeAccount__text__header {
    grid-area: header;
    color: var(--primary);
    font-size: 1.5rem;
    padding-top: var(--spacing-xs);
}

.upgradeAccount__text__description {
    grid-area: description;
    font-size: .9rem;
}

.upgradeAccount__text__button {
    grid-area: button;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxs);
    padding-bottom: var(--spacing-xs);
}

.upgradeAccount__text__button a {
    font-size: .9rem;
    padding: var(--spacing-xs) var(--spacing);
    background-color: var(--primary);
    color: #fff;
    justify-self: center;
    border-radius: var(--spacing-xxxs);
    white-space: nowrap;
}

.upgradeAccount__text__button img {
    width: var(--spacing-xs);
}

.upgradeAccount__text__button img.effect-after {
    transform: scaleX(-1);
}

.upgradeAccount .close {
    grid-area: close;
    align-self: start;
    padding-top: var(--spacing-xs);
}

.upgradeAccount .close i {
    color: var(--gray);
}