{% extends 'base.html' %}
{% block body %}
    <hr style="color:gray;">
    <!-- ======= Hero Slider Section ======= -->
   





    <div class="container" style="padding:20px;">
      <div class="row">
    
    
        <div class="col-12 col-lg-6">
    
      <figure class="cta-banner" data-reveal="left">
       
        <img src="static/asssets/img/t.jpg"   style="border-radius:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);"  loading="lazy" alt="cta banner"
          class="w-100" loading="lazy">
      </figure>
    </div>
    
      <div class="col-12 col-lg-6">
     
    
        <h2 class="" id="">
         <b>The Student Representative Council</b>
        </h2>
       
      
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
  
          <h6>Plesae note that Your message is treatmented with all privacy.</h6>
        
    
     
    
    
      </div>
    </div>
    
    </div>


<div class="container">
  <div class="aside-block">
    <h3 class="aside-title">Video</h3>
    <div class="video-post">
      <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
        <span class="bi-play-fill"></span>
        <img src="static/asssets/img/w.jpg" alt="" class="img-fluid" style="width:100%;" loading="lazy">
      </a>
    </div>
</div>

<section class="mb-5 bg-light py-5" style="box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
  <div class="container" data-aos="fade-up" >
    <div class="row justify-content-between align-items-lg-center" >
      <div class="col-lg-5 mb-4 mb-lg-0">
        <h2 class=""><b>The Elected Council</b></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, rem eaque vel est asperiores iste pariatur placeat molestias, rerum provident ea maiores debitis eum earum esse quas architecto! Minima, voluptatum! Minus tempora distinctio quo sint est blanditiis voluptate eos. Commodi dolore nesciunt culpa adipisci nemo expedita suscipit autem dolorum rerum?</p>
        <p>At magni dolore ullam odio sapiente ipsam, numquam eius minus animi inventore alias quam fugit corrupti error iste laboriosam dolorum culpa doloremque eligendi repellat iusto vel impedit odit cum. Sequi atque molestias nesciunt rem eum pariatur quibusdam deleniti saepe eius maiores porro quam, praesentium ipsa deserunt laboriosam adipisci. Optio, animi!</p>
        <p><a href="#" class="more">View All Blog Posts</a></p>
      </div>
      <div class="col-lg-6">
        
            <img src="static/asssets/img/o.jpg" style="border-radius:10px;  " class="img-fluid mb-4" loading="lazy">
          
      </div>
    </div>
  </div>
</section>



<div class="container" style="padding:20px;">
  <div class="row">


    <div class="col-12 col-lg-6">

  <figure class="cta-banner" data-reveal="left">
   
    <img src="https://www.rocapply.com/assets/pictures/universities/Central-University-header.jpg"   style="border-radius:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);"  loading="lazy" alt="cta banner"
      class="w-100">
  </figure>
</div>

  <div class="col-12 col-lg-6">
 

    <h2 class="" id="">
     <b>Frequently Asked Questions</b>
    </h2>
   
  
 
      <h6>Plesae note that Your message is treatmented with all privacy.</H6>



        <div class="container" style="text-align:center;" data-aos="fade-up">
          
          <div class="accordion accordion-flush" id="accordionFlushExample">
            
            <div class="accordion-item" class="btn btn-primary has-after" style=" background-color:#fff; color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Ask me anything
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Answers to all of it </div>
              </div>
            </div>
            
            <div class="accordion-item" class="btn btn-primary has-after" style=" background-color:#fff; color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Ask me anything
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Answers to all of it </div>
              </div>
            </div>
            <div class="accordion-item" class="btn btn-primary has-after" style=" background-color:#fff; color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Ask me anything
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Answers to all of it </div>
              </div>
            </div>
           
          </div>
  </div>
</div>

</div>
</section>

<section style="background-color:red;">
  <div class="container" style="text-align:center;" data-aos="fade-up">
    <h6 style="font-size:30px; color:#fff;"><b>Welcome to the Central University-SRC Portal</b></h6>
    <h6 style="font-size:20px; color:#fff;">We invite you to become an active part of the SRC. </h6>
  </div>
 
    <a href="/getfunds" > <h6 style="margin:auto; text-align:center; border-style:solid; border-width:1px; width:260px; padding:10px; border-color:#fff; color:#fff; ">Get-Fund Programme '2023</h6></a>
             
            </div>
</section>


{% endblock body %}

