{% extends 'base.html' %}
{% block body %}
    <hr style="color:gray;">
    <!-- ======= Hero Slider Section ======= -->
   





    <div class="container">
      <div class="aside-block">
        <h3 class="aside-title">CU-SRC Handing Over'24</h3>
        <div class="video-post">
          <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
            <span class="bi-play-fill"></span>
            <img src="static/asssets/img/w.jpg" alt="" class="img-fluid" style="width:100%;" loading="lazy">
          </a>
        </div>
    </div>
  </div>


<section class="mb-5 bg-light py-5" style="box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
  <div class="container" data-aos="fade-up" >
    <h2 class="" style="text-align:center;"><b>The Elected Executive Council</b></h2>
    <p style="text-align:center;">It is with immense pride and excitement that we introduce the remarkable<br> individuals who will steer the ship of our Student Representative Council (SRC) this  year.</p>
    <div class="row justify-content-between align-items-lg-center" >
     
      <div class="col-lg-5 mb-4 mb-lg-0">
       
        <p> <br><br>
          <b>President:</b>
          Mr Michael Yeboah, the esteemed voice representing our collective student body in all matters within the jurisdiction of the SRC in advocating for our rights and championing our interests. 
          <br><br>
         <b> Vice President:</b>
          Miss Ashley Esther Tutu, the President's right-hand individual, supporting the President's duties and taking on assigned tasks with unwavering dedication.
          <br><br>
         <b> General Secretary:</b>
          Mr. Dajonang Damyeni, the guardian of official SRC records and preserving the decisions made in SRC meetings and other vital gatherings.
          <br><br>
        <b>  Treasurer:</b>
          Mr. Lancelott Ben-Akiem , the custodian of our SRC's financial matters, as a signatory to the council's bank accounts, ensuring accountability and transparency in financial operations.
          <br><br>
         <b> Women's Commissioner:</b>
          Miss Regina Banfo , a beacon of empowerment for our female student cohort. Harnessing the intellectual potential of our female students and enabling them to be problem-solving agents within our community.
          
         </p>

        
        <p><a href="#" class="more">Let us join hands with them, share our ideas, and work collaboratively towards a more vibrant and inclusive campus environment for all.</a></p>
      </div>
      <div class="col-lg-6">
        
            <img src="static/asssets/img/o.jpg" style="border-radius:10px;  " class="img-fluid mb-4" loading="lazy">
          
      </div>
    </div>
  </div>
</section>




<div class="container" style="padding:20px;">
  <div class="row">


    <div class="col-12 col-lg-6">

  <figure class="cta-banner" data-reveal="left">
   
    <img src="https://www.rocapply.com/assets/pictures/universities/Central-University-header.jpg"   style="border-radius:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);"  loading="lazy" alt="cta banner"
      class="w-100">
  </figure>
</div>

  <div class="col-12 col-lg-6">
 

    <h2 class="" id="">
     <b>Frequently Asked Questions</b>
    </h2>
   
  
 
      <h6>Plesae note that Your message is treatmented with all privacy.</H6>



        <div class="container" style="text-align:center;" data-aos="fade-up">
          
          <div class="accordion accordion-flush" id="accordionFlushExample">
            
            <div class="accordion-item" class="btn btn-primary has-after" style=" background-color:#fff; color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Ask me anything
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Answers to all of it </div>
              </div>
            </div>
            
            <div class="accordion-item" class="btn btn-primary has-after" style=" background-color:#fff; color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Ask me anything
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Answers to all of it </div>
              </div>
            </div>
            <div class="accordion-item" class="btn btn-primary has-after" style=" background-color:#fff; color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Ask me anything
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Answers to all of it </div>
              </div>
            </div>
           
          </div>
  </div>
</div>

</div>
</section>

<section style="background-color:dark blue;">
  <div class="contain" style="text-align:center;" data-aos="fade-up">
    <h6 style="font-size:30px; color:#fff;"><b> Central University-SRC Form'24</b></h6>
   
  </div>
 
    
            </div>
</section>

<section style="background-color:red;">
  <div class="containr" style="text-align:center;" data-aos="fade-up">
    <h6 style="font-size:30px; color:#fff;"><b> Central University-SRC Form'24</b></h6>
    <h6 style="font-size:20px; color:#fff;">Download the CU-SRC Forms </h6>
  </div>
  <a href="/getfunds" > <h6 style="margin:auto; text-align:center; border-style:solid; border-width:1px; width:260px; padding:10px; border-color:#fff; color:#fff; " data-aos="fade-up">CU-SRC FORMS'2024</h6></a>
            </div>
</section>


{% endblock body %}

