<!DOCTYPE html>
<html>
<head>
    <title>Add PDF</title>
</head>
<body>
    <h1>Add a New PDF File</h1>
    <form method="POST" action="/add_pdf" enctype="multipart/form-data">
        <input type="file" name="pdf_file" required>
        <select name="course_name" required>
            {% for course in courses %}
            <option value="{{ course.name }}">{{ course.name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="level" placeholder="Level" required>
        <input type="number" name="year" placeholder="Year" required>
        <input type="submit" value="Add PDF">
    </form>
    
    
</body>
</html>

