{% extends 'landingpage.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            
            <form method="POST" action="{{ url_for('add_item') }}" style="background-color:#fff; padding:30px; border-radius:20px;">
        <h6 class="h3 font-bold mb-5" style="margin-bottom:10px;">Add Item to Group</h6>
        {{ form.hidden_tag() }}
        <img src="https://cdn.monday.com/images/homepage-desktop/templates-banner.png" style="width:100%; margin-bottom:30px;">
       
        {{ form.group(class="input-field", style="width:100%; ") }}
        <br>
        
        {{ form.item_name(class="input-field", style="width:100%;" , placeholder="Item Name") }}
        <br>
       
        {{ form.quantity(class="input-field", style="width:100%;", placeholder="Item Quantity") }}
        <br>
        {{ form.submit(class="btn btn-primary", style="width:100%;") }}
    </form>

    {% if form.errors %}
        <div style="color: red;">
            <p>Errors:</p>
            <ul>
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>


<div class="col-lg-6">
                               
</div>

</div>
</div>


{%endblock body%}
