{% extends 'home.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title></title>
  <meta name="title" content="">
  <meta name="description" content="This is a food html template made by codewithsadee">
  <link rel="shortcut icon" href="static/img/no.png" type="image/svg+xml">

  <!-- 
    
    - favicon
  -->
  <link rel="shortcut icon" href="https://www.central.edu.gh/static/img/Central-Uni-logo.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/assets/css/style.css">
  <link rel="shortcut icon" href="static/img/no.png" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->

  <!-- 
    - #PRELOADER
  -->

  <div class="loading-container" data-loading-container>
    <div class="loading-circle"></div>
  </div>





  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <a href="#" class="logo">

       
        <img src="static/img/new.jpeg" width="100" height="100" alt="">
      </a>

      <nav class="navbar" data-navbar>
        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

       
        <!--<ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="btn btn-primary has-after">upload</a>
          </li>

          <li class="navbar-item">
            
            <a href="#" class="btn btn-primary has-after">Order Now</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="btn btn-primary has-after">Order Now</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>Contacts</a>
          </li>

        </ul>-->
     </nav>

     <div class="header-action">
        

      <a href="upload.html" class="btn btn-primary has-after" style="font-size:14px;">Contact Us!</a>
    </div>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

    <div class="overlay" data-overlay data-nav-toggler></div>

  </div>
  </header>





  <main>
    <article>

     
     
          <section class="section newslettr" aria-label="newsletter">
            <div class="container" >
    
    
              <div class="newsletter-content" data-reveal="right">
                
                <h2 class="h4 section-title" style="text-align:center;">
                  SRC Recuitment Portal
                 </h2>
                 <p class="section-text" style="text-align:center; margin-bottom:20px;" data-reveal>
                  We invite you to become an active part of the SRC by joining our committees.
                 </p>
                 <form >
                  <input type="text"
                      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" style="width:85%; border: none">
                   
              </form>
                 <form action="{{ url_for('addalumni') }}" method="post" enctype="multipart/form-data" >
                  {{form.hidden_tag()}}
                  <div class="alert alert-primary" role="alert">
                    Click on the Image to upload an image
                   </div>
                  <label for="image-picker" style="margin-left:100px;">
                    <div>
                        {% if editCandidate %}
                        <img id="image-preview" style="height: 20vh; margin:auto; object-fit:contain" src={{candidate.testField}} alt="your image" />
                        {% else %}
                        <img id="image-preview" style="height: 20vh; margin:auto; object-fit:contain" src="https://www.pngkit.com/png/full/129-1298005_png-file-upload-image-icon-png.png" alt="your image" />
                        {% endif %}
                    </div>      
                    <h6 id="error" style="color: red; display: none;">Please upload an image to continue</h6>
                </label>
               
               
                <div class="input-wrapper">
                  {{form.fullname(class="input-field my-5 my-lg-5 mt-2 space", style="  margin-bottom:90px;",  placeholder="Fullname",id="floatingInput", required="required")}}
                  {{form.gender(class="form-check my-5 my-lg-5 mt-2 space",style="color:#000;",placeholder="Gender",id="floatingInput", required="required")}}
                  {{form.program(class="form-check my-5 my-lg-5 mt-2 space",style="color:#000;",placeholder="program",id="floatingInput", required="required")}}
                  {{form.campus(class="form-check my-5 my-lg-5 mt-2 space", style="color:#000;", id="floatingInput", required="required")}}
                  {{form.telephone( class="input-field my-5 my-lg-5 mt-2 space", style="  margin-bottom:90px;",placeholder="Phone Number",id="floatingInput", required="required")}}
                  <input type="email" id="email" name="email" class="input-field my-5 my-lg-5 mt-2 space",placeholder="Index",id="floatingInput" placeholder="Email" required>
                  
                  
                  {{form.ministry( class="input-field my-5 my-lg-5 mt-2 space",style="color:#000;",placeholder="Index",id="floatingInput", required="required")}}
                  
                  <label for="textarea">Why do you want to join this committee?</b></label>
                  <textarea name="reason" type="reason" class="input-field my-5 my-lg-5 mt-2 space" placeholder="Why do you want to join this committee?" required="">       </textarea>
                  
                 <!-- {{form.reason( class="input-field my-5 my-lg-5 mt-2 space", style="  margin-bottom:90px;",placeholder="Why do you want to join this committee?",id="floatingInput", required="required")}}
                  {{form.qualities( class="input-field my-5 my-lg-5 mt-2 space", style="  margin-bottom:90px;",placeholder="What are the special qualities you will bring to this committee?",id="floatingInput", required="required")}}
                  -->
                  <label for="textarea">What are the special qualities you will bring to this committee?</b></label>
                  <textarea name="qualities" type="qualities" class="input-field my-5 my-lg-5 mt-2 space"  required="">       </textarea>
                  
                  <div class="alert alert-primary" role="alert">
                    Leadership Experience, If any please state them.
                  </div>
                  
                  <label for="textarea">Please type your Position/s</label>
                  <textarea name="position" type="position" class="input-field my-5 my-lg-5 mt-2 space" placeholder="Position" required="">       </textarea>
                  
                  <!--{{form.position( class="input-field my-5 my-lg-5 mt-2 space", style="  margin-bottom:90px;",placeholder="Position",id="floatingInput")}}
                  -->
                  {{form.image_file (class="form-control",style="display:none;", id="firebaseLink" )}}
                 
                
                <input style="display:none" id="image-picker" type="file" required="required" accept="image/*" />
                
<div id="submitButton">
  <div class="alert alert-primary" role="alert">
    Make sure to add  your image before submit the form.
  </div>
  <button class="btn" style="color: #fff; background: #992621; border: none; margin:auto; font-size:12px; margin-top:10px;" type="submit" >Send the form</button>
</div>  
<div class="container" style="margin-top:20px;">
  <a href="https://cusrc.prestoghana.com/passqo"><img src="static/img/blue.png" width="100%"  loading="lazy" alt="Illustration"
    class="w-100"></a>
  </div>
    

                   
                 
        </div>
      </section>



     
      <p class="copyright" style="text-align:center; ">
        <a href="https://prestoghana.com/" class="copyright"> Powered by PrestoGhana</a>
      </p>
      
     

    </article>
  </main>






              
</form>

<script>
  // JavaScript code to send the email after form submission
  const form = document.querySelector('form');
  form.addEventListener('submit', async (event) => {
      event.preventDefault(); // Prevent the default form submission
      
      // Perform the form submission using AJAX or Fetch
      try {
          const response = await fetch(form.action, {
              method: 'POST',
              body: new FormData(form)
          });
          
          if (response.ok) {
              // Form submitted successfully, now trigger the email sending
              await fetch('/send_email', {
                  method: 'POST'
              });
              alert('Form submitted and email sent successfully!');
          } else {
              alert('Form submission failed.');
          }
      } catch (error) {
          console.error('An error occurred:', error);
      }
  });
</script>




<script>

$("#image-picker").change(function (event) {
  readURL(this);
  console.log ('touch image')
    document.getElementById('error').style.display = 'none';

});
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        pushImage(input.files[0])

        reader.onload = function (e) {
            $('#image-preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);


    }
}
</script>

  
<script>

  
  
  // Push batch images to storage and store references in the database
  var pushImage = function (file) {
   document.getElementById('submitButton').innerHTML = `
         <button class="button" style="background-color: #7272F2;"><i class="fa fa-pause-circle-o" aria-hidden="true" style="color:'white'"></i>Uploading</button>
         `
     // var uid = firebase.auth().currentUser.uid;
     // Create storage reference
     var ref = firebase.storage().ref(`/alumni/`).child(file.name + ".jpg");
     //var ref = firebase.storage().ref(``).child(file.name + ".jpg");
 
     // Upload file and get task
     var task = ref.put(file, {contentType: file.type});
  
     // Monitor task for progress
     task.on('state_changed',
         // Shows progress of task
         function progress(snapshot) {
             var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
             console.log(percentage);
         },
         // Shows any errors occurring during progress
         function error(err) {
             // Handle unsuccessful uploads
             console.log(err.message);
 
         },
         // Shows when task is completed
         );  
 };
 
 
   function changeimagesss(event) {
     console.log(event)
     // console.log(event.target.files[0])
     // var uploadItem = event.target.files[0]
     // console.log(uploadItem)
     pushImage(event)
 
     
   }
 
  </script>

  <script>

    var firebaseLink = document.getElementById("firebaseLink").innerText
    // Push batch images to storage and store references in the database
    var pushImage = function (file) {
        document.getElementById('submitButton').innerHTML = `
        <button class="button" style="background-color: #da2d2770;"><i class="fa fa-pause-circle-o" aria-hidden="true" style="color:'white'"></i>Please wait while we upload your image</button>
        `

       // var uid = firebase.auth().currentUser.uid;
       // Create storage reference
       var ref = firebase.storage().ref(`/ineruu-142dc-default-rtdb/Images/`).child(file.name + ".jpg");
   
       // Upload file and get task
       var task = ref.put(file, {contentType: file.type});
    
       // Monitor task for progress
       task.on('state_changed',
           // Shows progress of task
           function progress(snapshot) {
               var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
               console.log(percentage);
           },
           // Shows any errors occurring during progress
           function error(err) {
               // Handle unsuccessful uploads
               console.log(err.message);
   
           },
           // Shows when task is completed
           function complete() {
               // Handle successful uploads on complete
               var image = task.snapshot.downloadUrl;
               var secondImage = task.snapshot.ref.getDownloadURL().then(function(downloadURL) {
           console.log('File available at', downloadURL);
        //    firebaseLink = downloadURL
           document.getElementById("firebaseLink").value = downloadURL
        //    console.log("Firebase Link: " + firebaseLink)
            document.getElementById('submitButton').innerHTML = `{{form.submit (class="button")}}`

         });
            //    console.log(task);
            //    console.log(image);
            //    console.log(secondImage.PromiseResult).then(res => {
            //        console.log("THis is" + res)
                   
            //    });
   
               // Data model to be uploaded to the database
               var data = {
                   imageUrl: image
               };
               
               // var db = firebase.database().ref(/GHotelBookMan/Hotels/${uid}/Images).push();
               // db.set(data).then(() => {
               //     row.empty();
               //     loadCurrentHotel(uid);
               // });
           });  
   };
   
   
     function changeimagesss(event) {
       console.log(event)
       // console.log(event.target.files[0])
       // var uploadItem = event.target.files[0]
       // console.log(uploadItem)
       pushImage(event)
   
       
     }
   
    </script> 


{% endblock body %}