{% extends 'base.html' %}
{% block body %}

    <hr style="color:gray;">
    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                {%for user in user%} 
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('{{user.image_file}}');" loading="lazy">
 
                    <div class="img-bg-inner">
                      <!--<h2><b>The Best Homemade Masks for Face (keep the Pimples Away)</b></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>-->
                    </div>
                  </a>
                </div>
                {%endfor%}
                

              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <!--<div class="swiper-pagination"></div>-->
            </div>
          
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->









<section style="background-color:red;">
  <div class="containr" style="text-align:center;" data-aos="fade-up">
    <h6 style="font-size:30px; color:#fff;"><b> Central University-SRC Form'24</b></h6>
    <h6 style="font-size:20px; color:#fff;">Download the CU-SRC Forms </h6>
  </div>
  <a href="/getfunds" > <h6 style="margin:auto; text-align:center; border-style:solid; border-width:1px; width:260px; padding:10px; border-color:#fff; color:#fff; " data-aos="fade-up">CU-SRC FORMS'2024</h6></a>
            </div>
</section>

    
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single-post.html"><img src="static/asssets/img/ll.JPG" alt="" class="img-fluid" loading="lazy"></a>
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2><a href="single-post.html">GDIW'23</a></h2>
              <p class="mb-4 d-block">In a digital age where innovation is the driving force of progress, Some selected students of Central University have seized the opportunity to be at the forefront of change.  The 3rd edition of the Ghana Digital Innovation Week, a three-day program dedicated to fostering creative and tech-driven ideas.The Ghana Digital Innovation Week serves as a unique platform where students can explore the multifaceted world of technology and innovation. It's a space where they can meet industry experts, visionary entrepreneurs, and like-minded peers, creating an environment ripe for idea exchange and growth.</p><p>
                One of the most remarkable aspects of this event is the diverse mix of students in attendance. While some may have deep-rooted interests in technology, others are venturing into this field for the first time. The event has managed to bridge these gaps, encouraging collaboration, and allowing everyone to find their place in the world of digital innovation. These young minds have proven that they are ready to embrace innovation, shaping a brighter tomorrow for their country and the world at large.</p>

              <div class="d-flex align-items-center author">
                <div class="photo">
                  <!--<img src="static/asssets/img/person-1.jpg" alt="" class="img-fluid">-->
                </div>
                <div class="name">
                  <h3 class="m-0 p-0">Ohene-Mills</h3>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              {%for user in user%} 
              <div class="col-lg-12 border-start custom-border">
                <div class="post-entry-1">
                  <a href="#">
                    <img src={{user.image_file}} class="img-fluid" loading="lazy">
                  </a>
                 <div class="post-meta"><span class="date">{{user.fullname}}</span> <span class="mx-1">&bullet;</span> <span>{{user.reason}}</span></div>
                 
                 <h2><a href="#">{{user.qualities}}</a></h2>
                <!-- <h2><a href="#" style="font-size:15px;">{{user.position}}</a></h2>
               -->
                </div>
                
               
              </div>
              {%endfor%}
              
           
             

              </div> <!-- End Trending Section -->
            </div>
          </div>

        </div>
        
        <section style="background-color:red;">
          <div class="container" style="text-align:center;" data-aos="fade-up">
            <h6 style="font-size:30px; color:#fff;"><b>Face of CU Form Out Now!</b></h6>
            <h6 style="font-size:20px; color:#fff;">Download the Face of Central University Forms. </h6>
          </div>
         
            <a href="#" > <h6 style="margin:auto; text-align:center; border-style:solid; border-width:1px; width:260px; padding:10px; border-color:#fff; color:#fff; " data-aos="fade-up">FACE OF CU'2024</h6></a>
                     
                    </div>
        </section>
        
    {% endblock body %}