{% extends 'pagebase.html' %}

{% block body %}
<div class="container-fluid mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <!--<div class="row g-6 mb-6">
        <div class="col-xl-6 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Estimated Amount</span>
                            <a class="text-heading fs-1 font-semibold" href="#">${{ total_amount | int }}</a>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                <i class="bi bi-folder"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <!--<div class="col-xl-6 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Estimated Product</span>
                            <a class="text-heading fs-1 font-semibold" href="#">$ {{ total_sum }}</a>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                <i class="bi bi-folder"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row g-6 mb-6">
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <h5 class="mb-0">Purchase Order</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Product ID</th>
                            <th scope="col">Product</th>
                            <th scope="col">Warehouse</th>  
                            <th scope="col">Condition</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.unique_code }}</td>
                            <td>
                                <a class="text-heading font-semibold" href="{{ url_for('product_details', product_id=user.id) }}">
                                    {{ user.name }}
                                </a>
                            </td>
                            <td>{{ user.group.name }}</td>
                            <td>
                                {% if user.quantity | int >= 20 %}
                                <span class="badge badge-pill bg-soft-success text-success me-2">
                                    <i class="bi bi-arrow-up me-1"></i>In-stock
                                </span>
                                {% elif user.quantity | int >= 10 and user.quantity | int <= 20 %}
                                <span class="badge badge-pill bg-soft-warning text-warning me-2">
                                    <i class="bi bi-dash me-1"></i>Low Stock
                                </span>
                                {% elif user.quantity | int < 10 %}
                                <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                    <i class="bi bi-arrow-down me-1"></i>Out of Stock
                                </span>
                                {% endif %}
                            </td>
                            <td>{{ user.quantity }}</td>
                            <td>$ {{ user.price }}.00</td>
                           <!-- <td>$ {{ user.quantity|float * user.price|float }}</td>
                            <td>{{ user.start_date }}</td>-->
                            <td class="text-end">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-square btn-neutral dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ url_for('product_details', product_id=user.id) }}">
                                            <i class="bi bi-cart"></i> Shop
                                        </a></li>
                                       

                                        <li><a class="dropdown-item" href="{{ url_for('logme', item_id=user.id) }}" >
                                          <i class="bi bi-clipboard2-data"></i> Report
                                      </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Showing all stock</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
