{% extends 'landingpage.html' %}

{% block body %}
<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    
  {% endfor %}
{% endif %}
{% endwith %}

<div class="row">
 <!-- <div class="col-lg-6">
<form action="" class="form" method="POST", "GET" style="margin-bottom:20px; border-radius:20px;"> 
    
  <img src="https://cdn.monday.com/images/homepage-desktop/templates-banner.png" style="width:100%; ">
    
  <div class="alert alert-success" style="margin-top:30px;" role="alert">
 <h6 >
 

    
 
  <b>Description:</b> Provide a brief overview of the challenge, outlining its objectives, rules, and any specific requirements or constraints participants should be aware.
  <br>
  <b>Duration:</b> Mention the duration of the challenge, including the start and end dates or the deadline for submissions.
  
 </h6>  
</div>
  
   </form>
        
       


</div>-->
<div class="col-lg-12"  style="background-color:#fff; padding:30px; border-radius:10px;">
  <form action="" class="form" method="POST", "GET"> 
    {{form.hidden_tag()}}
     
  
    <h6 class="h3 font-bold mb-5" style="margin-bottom:10px;">Add Target Goal</h6>
   <hr>
   
   <label for="basic-url" class="form-label">Enter Goal Title <span class="text-danger">*</span></label>
    <div class="input-group mb-3">
      <input type="text" name="answers" class="form-control" placeholder="Title..." aria-label="Username" aria-describedby="basic-addon1">
    </div>

   <label for="basic-url" class="form-label">Choose A Tag <span class="text-danger">*</span></label>
    <div class="input-group mb-3">
      {{form.campus(type="text", class="form-control", placeholder="Recipient's username")}}
    </div>


    <label for="basic-url" class="form-label">Enter Goal Description <span class="text-danger">*</span></label>
    <div class="input-group">
      <span class="input-group-text">Description</span>
      <textarea class="form-control" name="caption" aria-label="With textarea"></textarea>
    </div>
      <div class="form-text mb-5" id="basic-addon4">Keep description short and clean to remember</div>
<hr>

    
    <label for="basic-url" class="form-label fs-5">Choose A date <span class="text-danger">*</span></label>
    <div class="input-group mb-3">
      <span class="input-group-text">{{ form.start_date.label }}</span>
     {{ form.start_date( class="form-control" ,required="required") }}
      
      <span class="input-group-text">{{ form.end_date.label }}</span>
      {{ form.end_date( class="form-control" ,required="required") }}
    </div>
    
    
  
    
     
  
  
    
      {{form.submit(class="btn btn-primary has-before has-after", style="width:100%;")}}
    </form>
          
         
  
  
  </div>
</div>


</div>


{%endblock body%}
