{% extends 'landingpage.html' %}

{% block body %}
<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    
  {% endfor %}
{% endif %}
{% endwith %}

<div class="row">
  <div class="col-lg-6">
    <form action="" class="form" method="POST", "GET" style="margin-bottom:20px; border-radius:20px;"> 
        
      <img src="https://cdn.monday.com/images/homepage-desktop/templates-banner.png" style="width:100%; ">
  <div class="alert alert-success" style="margin-top:30px;" role="alert">
        
     <h6>
     
      <b>Description:</b> Provide a brief overview of the task, outlining its objectives, rules, and any specific requirements or constraints participants should be aware.
      <br><br>
      <b>Duration:</b> Mention the duration of the task, including the start and end dates or the deadline for submissions.
      
     </h6>  
    </div>
       </form>
            
           
    
    
    </div>
  <div class="col-lg-6" style="background-color:#fff; padding:30px; border-radius:20px;">

<form action="" class="form" method="POST", "GET" > 
    <h6 class="h3 font-bold mb-5" style="margin-bottom:10px;">Add a New Task</h6>
       
    {{form.hidden_tag()}}
   

  
   
 

  
    {{form.name( class="input-field", type="text", placeholder="Title",id="floatingInput", style="width:100%;", required="required")}}
    {{form.tag( class="input-field", placeholder=" Add Tag",id="floatingInput", style="width:100%;", required="required")}}
    {{form.task( class="input-field", type="text", placeholder="Description",id="floatingInput", style="width:100%;", required="required")}}
    {{form.description( class="input-field", type="text", placeholder="Unique number",id="floatingInput", style="width:100%;", required="required")}}
    <p>{{ form.start_date.label }} {{ form.start_date( class="input-field", id="floatingInput", style="width:100%;", required="required") }}</p>
    <p>{{ form.end_date.label }} {{ form.end_date ( class="input-field", id="floatingInput", style="width:100%;", required="required")  }}</p> 
  
    
    {{form.submit(class="btn btn-primary has-before has-after", style="width:100%;")}}
  </form>
        
       


  

</div>

</div>
</div>
{%endblock body%}
