{% extends 'landingpage.html' %}

{% block body %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}
   
    <div class="row g-6 mb-6">
      
        

      <div class="card shadow border-0 mb-7">
        <div class="card-header d-flex" style="justify-content:space-between;">
            <h5 class="mb-0">Purchase Order</h5>
          <a href="/addalumni">  <h5 class="mb-0 bg-primary text-white p-2" style="border-radius:5px; font-size:13px;"> <i class="bi bi-download"></i> Download</h5></a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                   
                       
                        <th scope="col">Product ID</th>
                        <th scope="col">WareHouse</th>
                        <th scope="col">Product</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Quantity</th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                    </td>
                   
                </tbody>
            </table>
        </div>
            <span class="text-muted text-sm"></span>
        </div>
    </div>
  
 
</div>


{%endblock body%}
