{% extends 'landingpage.html' %}

{% block body %}
<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    
  {% endfor %}
{% endif %}
{% endwith %}

<div class="row">
 
  <div class="col-lg-12" style="background-color:#fff; padding:30px; border-radius:10px;">

<form action="" class="form" method="POST", "GET" > 
    <h6 class="h3 font-bold mb-5" style="margin-bottom:10px;">Add a New Task</h6>
       <hr>
    {{form.hidden_tag()}}
   
    <label for="basic-url" class="form-label">Enter Goal Title <span class="text-danger">*</span></label>
    <div class="input-group mb-3">
      <input type="text" name="name" class="form-control" placeholder="Title..." aria-label="Username" aria-describedby="basic-addon1">
    </div>

   <label for="basic-url" class="form-label">Choose A Tag <span class="text-danger">*</span></label>
    <div class="input-group mb-3">
      {{form.tag(type="text", class="form-control", placeholder="Recipient's username")}}
    </div>


    <label for="basic-url" class="form-label">Enter Goal Description <span class="text-danger">*</span></label>
    <div class="input-group">
      <span class="input-group-text">Description</span>
      <textarea class="form-control" name="task" aria-label="With textarea"></textarea>
    </div>
      <div class="form-text mb-5" id="basic-addon4">Keep description short and clean to remember</div>
<hr>

    
    <label for="basic-url" class="form-label fs-5">Choose A date <span class="text-danger">*</span></label>
    <div class="input-group mb-3">
      <span class="input-group-text">{{ form.start_date.label }}</span>
     {{ form.start_date( class="form-control" ,required="required") }}
      
      <span class="input-group-text">{{ form.end_date.label }}</span>
      {{ form.end_date( class="form-control" ,required="required") }}
    </div>
    
    
  

  
     
    
    {{form.submit(class="btn btn-primary has-before has-after", style="width:100%;")}}
  </form>
        
       


  

</div>

</div>
</div>
{%endblock body%}
