{% extends 'landingpage.html' %}

{% block body %}
<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    
  {% endfor %}
{% endif %}
{% endwith %}

  <span class="h3 font-bold mb-0">Send A Message To Your Team</span>
              
  <form action=" " class="form" style="display:grid;" method="POST", "GET"> 
    {{form.hidden_tag()}}
   
    <input type="name" name="name" placeholder="Enter Subject" required class="input-field", style="padding:15px;margin-top:30px; border-radius:15px; width:300%px;box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
   
   <!-- <input type="email" name="email" placeholder="Company Email" required class="input-field", style="padding:15px; border-radius:15px; width:300%px;box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
   -->
   
    <input type="description" name="description" placeholder="Company Message" required class="input-field", style="padding:15px;margin-top:30px;   border-radius:15px; width:300%px;box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
    <!--<input type="password" name="password" placeholder="Enter Password"  class="input-field", style="padding:15px; border-radius:15px; width:300%px;box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
-->  
    {{form.submit(class="btn btn-primary has-before has-after",style="margin-top:30px;" )}}
  </form>



      

  

</div>


{%endblock body%}
