{% extends 'base.html' %}
{% block body %}

    
    <hr style="color:gray;">
    {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    
  {% endfor %}
{% endif %}
{% endwith %}
    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('static/asssets/img/r.jpg');" loading="lazy">
                    <div class="img-bg-inner">
                      <h2><b>try Best Homemade Masks for Face (keep the Pimples Away)</b></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('static/asssets/img/w.jpg');" loading="lazy">
                    <div class="img-bg-inner">
                      <h2><b>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</b></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('static/asssets/img/p.jpg');" loading="lazy">
                    <div class="img-bg-inner">
                      <h2><b>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</b></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('static/img/blue.png');" loading="lazy">
                    <div class="img-bg-inner">
                     <!-- <h2><b>9 Half-up/half-down Hairstyles for Long and Medium Hair</b></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>-->
                    </div>
                  </a>
                </div>
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->







    <div class="container" style="padding:20px;">
      <div class="row">
    
    
        <div class="col-12 col-lg-6" data-reveal="left">
    
      <figure class="cta-banner" data-reveal="left">
       
        <img src="static/asssets/img/r.jpg"   style="border-radius:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);"  loading="lazy" alt="cta banner"
          class="w-100" loading="lazy" data-reveal="left">
      </figure>
    </div>
    
      <div class="col-12 col-lg-6" data-reveal="left">
     
    
        <h2 class="" id="">
         <b>The Student Representative Council</b>
        </h2>
       
      
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
  
          <h6>Plesae note that Your message is treatmented with all privacy.</h6>
        
    
     
    
        <a href="/aboutsrc" class="btn btn-primary has-after" style="margin-top:10px; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">Get More</a>
    
      </div>
    </div>
    
    </div>

<!--
    <div class="container" style="padding:50px;">
      <a href="https://cusrc.prestoghana.com/passqo"><img src="static/img/blue.png" width="100%"  loading="lazy" alt="Illustration"
        class="w-100"></a>
      </div>-->

<section class=" bg-light py-5" style="box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
  <div class="container" data-aos="fade-up" >
    <div class="row justify-content-between align-items-lg-center" >
      <div class="col-lg-5 mb-4 mb-lg-0">
        <h2 class=""><b>Latest News</b></h2>
        <p>In a digital age where innovation is the driving force of progress, Some selected students of Central University have seized the opportunity to be at the forefront of change.  The 3rd edition of the Ghana Digital Innovation Week, a three-day program dedicated to fostering creative and tech-driven ideas. </p><p>
          The event has managed to bridge these gaps, encouraging collaboration, and allowing everyone to find their place in the world of digital innovation. These young minds have proven that they are ready to embrace innovation, shaping a brighter tomorrow for their country and the world at large.</p>
        
        <p><a href="#" class="more">View All Blog Posts</a></p>
      </div>
      <div class="col-lg-6">
        
            <img src="static/asssets/img/ll.JPG" style="border-radius:10px;  " class="img-fluid mb-4" loading="lazy">
          
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" style="text-align:center;" data-aos="fade-up">
    <h6 style="font-size:30px;"><b>Frequently Asked Questions</b></h6>
    <h6 style="font-size:20px;">We invite you to become an active part of the SRC. </h6>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {%for user in faq%}  
      <div class="accordion-item" class="btn btn-primary has-after" style=" background-color:#fff; color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            {{user.caption}}
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">{{user.answers}} </div>
        </div>
      </div>
      {% endfor %} 
    </div>


    <!-- <a href="/leadersadd" class="btn btn-primary has-after" style=" background-color:#fff; color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">We invite you to become an active part of the SRC.</a>
    <a href="/leadersadd" class="btn btn-primary has-after" style="  background-color:#fff;  color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">The Best Homemade Masks for Face (keep the Pimples Away)</a>
    <a href="/leadersadd" class="btn btn-primary has-after" style="  background-color:#fff;  color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">The Best Homemade Masks for Face (keep the Pimples Away)</a>
    <a href="/leadersadd" class="btn btn-primary has-after" style="  background-color:#fff;  color:#000; padding:10px;margin-top:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">The Best Homemade Masks for Face (keep the Pimples Away)</a>
 
  -->
   </div>
 
      
            </div>
</section>
<hr style="color:gray;">

<div class="container" style="padding:20px;">
  <div class="row">


    <div class="col-12 col-lg-6">

  <figure class="cta-banner" data-reveal="left">
   
    <img src="https://www.rocapply.com/assets/pictures/universities/Central-University-header.jpg"   style="border-radius:10px; width:100%; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);"  loading="lazy" alt="cta banner"
      class="w-100" loading="lazy">
  </figure>
</div>

  <div class="col-12 col-lg-6">
 
    <form action="" method="post"  >
     {{form.hidden_tag()}}

    <h2 class="" id="">
     <b>Facing Challenges On Campus?</b>
    </h2>
   
  
    <div class="alert alert-primary" role="alert">
      Please note that Your message will be treated with all privacy.
    </div>

    {{form.name(class="input-field ", style="width:100%; border:none; padding:20px; border-radius:10px; margin-bottom:20px; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);", id="floatingInput",  placeholder="Enter name",id="floatingInput", required="required")}}
    {{form.number(class="input-field ", style="width:100%; border:none; padding:20px; border-radius:10px; margin-bottom:20px; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);", id="floatingInput",  placeholder="Enter name",id="floatingInput", required="required")}}
   

    <label style="color:gray;">Type your Message here:</label>
    <textarea name="message" type="message" style="width:100%; border:none;  padding:20px; border-radius:10px; box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);"  required="">       </textarea>
    
  <button class="btn" style="color: #fff; background: #992621; border: none; margin:auto; font-size:12px; margin-top:10px;" type="submit" >Send the messagse</button>
   


  </form>
  </div>
</div>

</div>
</section>

<section style="background-color:red;">
  <div class="container" style="text-align:center;" data-aos="fade-up">
    <h6 style="font-size:30px; color:#fff;"><b>Welcome to the Central University-SRC Portal</b></h6>
    <h6 style="font-size:20px; color:#fff;">We invite you to become an active part of the SRC. </h6>
  </div>
 
    <a href="/getfunds" > <h6 style="margin:auto; text-align:center; border-style:solid; border-width:1px; width:260px; padding:10px; border-color:#fff; color:#fff; ">Get-Fund Programme '2023</h6></a>
             
            </div>
</section>


  {% endblock body %}


