{% extends 'pagebase.html' %}

{% block body %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row g-6 mb-6" style="">
        <div class="col-xl-6 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Budget Spent</span>
                         
                            <tr>
                                
                                <td>
                                    <a class="text-heading fs-1 font-semibold" href="#">
                                       ${{ total_budget | int }}
                                    </a>
                                </td>
                          
                            <span class="h3 font-bold mb-0">{{task_com}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                <i class="bi bi-folder"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
       
        
    </div>
    <div class="row g-6 mb-6">
      
        

      <div class="card shadow border-0 mb-7">
        <div class="card-header">
            <h5 class="mb-0">Set your Budget </h5>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Budget</th>
                        <!--<th scope="col">Description</th>-->
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                       
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form method="POST" action="{{ url_for('budget') }}"style="background-color:#fff; padding:30px; border-radius:20px;">
       
                        {{ form.hidden_tag() }}
                <tr>
                    <td>
                        <a class="text-heading font-semibold" href="#">
                            <div class="input-group mb-3">
                                <input type="number" name="budget" class="form-control" placeholder="Amount..." aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                        </a>
                    </td>

                    <td>
                        <a class="text-heading font-semibold" href="#">
                            {{ form.start_date(class="p-3", placeholder="Catalog Name") }}

                        </a>
                    </td>

                    <td>
                        <a class="text-heading font-semibold" href="#">
                            {{ form.end_date(class="p-3", placeholder="Catalog Name") }}

                        </a>
                    </td>

                    <td>
                        <a class="text-heading font-semibold" href="#">
                           
                            <button type="submit" class="btn btn-sm-square text-danger-hover bg-primary w-42 text-white">
                                Send <i class="bi bi-arrow-return-left"></i>
                            </button>
                        </a>
                    </td>
                        
                </tr>
                    </form>
                    {%for users in users%} 
                    <tr>
                        
                        <td>
                            <a class="text-heading font-semibold" href="#">
                                ${{users.budget}}
                            </a>
                        </td>
                       

                       
                    <td>
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-success"></i>{{users.start_date}}
                            </span>

                        </td>

                        <td>
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-danger"></i>{{users.end_date}}
                            </span>
                        </td>
                       
                        
                       

                        <td class="text-end">
                           <!-- <a href="#" class="btn btn-sm btn-neutral">Update</a>-->
                            <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                <i class="bi bi-box-trash"></i>
                            </button>
                        </td>
                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Showing all budget</span>
        </div>
    </div>
  
 
</div>


{%endblock body%}
