<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="google-site-verification" content="Z6eqMkjPOeTd4zsmXCL1l8-KyOOCSXbxLgyLR9OD_eQ" />


		<meta name="og:title" content="Core Insurance Limited"> 
  <meta content="We are devoted to your success, walking alongside you every step of the way to ensure your insurance journey is not just secure but also fulfilling and rewarding." name="description">
  <!-- <meta content="abitu group limited, An abituworld of services" name="keywords"> -->

  <meta content="Core Insurance Limited" name="keywords">

		<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-17f5995f-2994-43dd-9ee5-074a3d2c9c97" data-elfsight-app-lazy></div>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<!-- Title -->
        <title>CISL | Core Insurance Limited.</title>
		
		<!-- Favicon -->
        <link rel="icon" href="static/cisl/img/web2.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="static/cisl/css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="static/cisl/css/nice-select.css">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="static/cisl/css/font-awesome.min.css">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="static/cisl/css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="static/cisl/css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="static/cisl/css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="static/cisl/css/datepicker.css">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="static/cisl/css/animate.min.css">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="static/cisl/css/magnific-popup.css">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="static/cisl/css/normalize.css">
        <link rel="stylesheet" href="static/cisl/css/style.css">
        <link rel="stylesheet" href="static/cisl/css/responsive.css">
		
    </head>
    <body>
		<script>
			AOS.init();
		</script>
		<div class="elfsight-app-17f5995f-2994-43dd-9ee5-074a3d2c9c97" data-elfsight-app-lazy></div>
		<!-- Preloader -->
        <!--<div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <!--<div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>-->
        <!-- End Preloader -->
		
		<!-- Get Pro Button -->
		<ul class="pro-features">
			<a class="get-pro" href="#">Claims</a>
			<li class="big-title">Pro Version Available on Themeforest</li>
			<li class="title">Pro Version Features</li>
			<li>2+ premade home pages</li>
			<li>20+ html pages</li>
			<li>Color Plate With 12+ Colors</li>
			<li>Sticky Header / Sticky Filters</li>
			<li>Working Contact Form With Google Map</li>
			<div class="button">
				<a href="http://preview.themeforest.net/item/mediplus-medical-and-doctor-html-template/full_screen_preview/26665910?_ga=2.145092285.888558928.1591971968-344530658.1588061879" target="_blank" class="btn">Pro Version Demo</a>
				<a href="https://themeforest.net/item/mediplus-medical-and-doctor-html-template/26665910" target="_blank" class="btn">Buy Pro Version</a>
			</div>
		</ul>
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<!--<ul class="top-link">
								<li><a href="#">About</a></li>
								<li><a href="#">Doctors</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>-->
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+232 78 274 864</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">info@coreinsurancelimited.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="index.html"><img src="static/cisl/img/web2.png" style="width:50px;" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											
											<li class="active"><a href="#">Products <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="#">Insurance</a></li>
													<li><a href="#">Reinsurance</a></li>
													<li><a href="#">Risk Management</a></li>
													<li><a href="#">Actuarial Services</a></li>
													<li><a href="#">Medical Evacuation Assistance</a></li>
												</ul>
											</li>
											
											<li><a href="#">Claims</a></li>
											<li><a href="#">About Us <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="404.html">About CISL</a></li>
													<li><a href="404.html">Leadership</a></li>
													<li><a href="404.html">Our Experience</a></li>
													<li><a href="404.html">Our Core Values</a></li>
													<li><a href="404.html">Service Proposal</a></li>
													<li><a href="404.html">Delivery Principles</a></li>
												</ul>
											</li>
											<li><a href="#">Resources <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="blog-single.html">Insurance placements</a></li>
													<li><a href="blog-single.html">News Release</a></li>
													<li><a href="blog-single.html">FAQ</a></li>
													<li><a href="blog-single.html">Privacy Policies</a></li>
												</ul>
											</li>
											<li><a href="contact.html">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote" style="background-color: green; border-radius:30px;">
									<a href="appointment.html" style="background-color:#2E2D7F; border-radius:30px;" class="btn">Our Resource</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Submit A Claim</h2>
							<img src="static/cisl/img/section-img.png" alt="#">
							<p>This form is designed to help you comply with your insurance terms and conditions, including your duty to notify insurers of incidents likely to result in a claim.</p>
						</div>
					</div>
				</div>
				<div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="form-group">
                            <label style="color:#000; font-size:20px;">Please fill the following.
                                
                            </label>
                            
                            
                        </div>
                    </div>

					<div class="col-lg-12 col-md-12 col-12">
						<form action="{{ url_for('cisl') }}" method="post" >
							{{form.hidden_tag()}}
						 
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Name of Client  <span class="text-danger">*</span></label>
                                            
										<input name="name" type="text" class="form-control"style="padding:8px;" placeholder="Name of the client or the company">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Date of Incident
                                            </label> <span class="text-danger">*</span></label>
											<p> {{ form.date ( class="input-field", id="floatingInput", style="width:100%;", required="required")  }}</p> 
  
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Time of Incident
                                            
                                        </label> <span class="text-danger">*</span></label>
										<input name="time" class="form-control"style="padding:8px;" type="text" placeholder="eg. 2:30">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Type of Incident
                                            
                                        </label> <span class="text-danger">*</span></label>
										{{form.incident(class="form-control",  placeholder="eg.favorite docs", id="floatingInput", required="required")}}
										
									</div>
								</div>
                                
                                <!--<div class="col-lg-12 col-md-6 col-12">
									<div class="form-group">
                                        <label>Other type of incidents(if any)
                                        </label>
										<input type="text" placeholder="Other type of incidents" >
									</div>
								</div>-->
                                <div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
                                        <label>Description of Incident
                                            
                                        </label> <span class="text-danger">*</span></label>
                                        
										<textarea name="description" class="form-control"style="padding:8px;" placeholder="Write Your description Here....."></textarea>
									</div>
								</div>


                                <div class="col-lg-12 col-md-12 col-12">
									<div class="form-group mt-4">
                                        <label style="color:#000; font-size:20px;">Please Choose the following.
                                            
                                        </label>
                                        
										
									</div>
								</div>

                           
                                <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Are there any casualties?

                                            
                                        </label> <span class="text-danger">*</span></label>
										{{form.casualties(class="form-control",  placeholder="eg.favorite docs", id="floatingInput", required="required")}}

									</div>
								</div>

                                <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>If employees are involved, have you reported to the Labour Office?
                                            
                                        </label> <span class="text-danger">*</span></label>
										{{form.employees(class="form-control",  placeholder="eg.favorite docs", id="floatingInput", required="required")}}

									</div>
								</div>
								 <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Indicate the reason for reporting or not reporting to the Labour Office.
                                        </label>
										<input name="reason" class="form-control"style="padding:8px;" type="text" placeholder="Enter reason" >
									</div>
								</div>

                                <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Have you reported the incident to the Police?
                                        </label> <span class="text-danger">*</span></label>
										{{form.police(class="form-control",  placeholder="eg.favorite docs", id="floatingInput", required="required")}}

									</div>
								</div>
                                <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Have you reported the incident to the Fire Force?
                                        </label><span class="text-danger">*</span></label>
										{{form.fire_force(class="form-control",  placeholder="eg.favorite docs", id="floatingInput", required="required")}}

									</div>
								</div>

                                <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>What is the estimated cost of the damage
                                        </label> <span class="text-danger">*</span></label>
										{{form.cost(class="form-control",  placeholder="eg.favorite docs", id="floatingInput", required="required")}}

									</div>
								</div>

						

                                <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Name of contact person

                                        </label> <span class="text-danger">*</span></label>
										<input name="name_of_contact" class="form-control"style="padding:8px;" type="text" placeholder="Name of contact person" >
									</div>
								</div>

                                <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
                                        <label>Contact number

                                        </label> <span class="text-danger">*</span></label>
										<input name="contact_number" class="form-control"style="padding:8px;" type="number" placeholder="Contact number" >
									</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group"><br>
                                        <label>* Disclaimer *<br>

											I/We, the undersigned person(s), hereby kindly request the support of Core Insurance Solutions Limited (CISL) in pursuing our insurance claim. We affirm that we have not been induced, coerced, threatened, or promised any form of inducement by CISL, its employees, agents, assigns director(s), or any other persons to contact CISL for assistance with our claim.
											<br><br>
											I/We understand and agree to comply with the terms and conditions of CISL's claim support services.
											
                                        </label>
										<!--										{{form.claim(class="form-control",  placeholder="Make a claim", id="floatingInput", required="required")}}-->
									</div>
									{{form.claim(class="form-control",  placeholder="eg.favorite docs", id="floatingInput", required="required")}}  <span class="text-danger ml-2" >  *</span>

									<!--<input type="checkbox" class="form-check-input" name="claim" id="" value="" > I agree <span class="text-danger">*</span></label>
								-->
								</div>

							
								<div class="col-lg-12 col-md-8 col-12">
									<div class="col-lg-5 col-md-4 col-12">
										<div class="form-group">
											<div class="button"><br>
												<button type="submit" class="btn">Send Claim</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="static/cisl/img/contact-img.png" alt="#">
						</div>
					</div>-->
				</div>
			</div>
		</section>
		<!-- End Appointment -->
		
		<!-- Start Newsletter Area -->
		<!-- <section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form 
						<div class="subscribe-text ">
							<h6>Core Insurance Limited</h6>
							<p class="">Transforming Insurance Experience <br>with Expertise and Excellence</p>
						</div>
						<!-- End Newsletter Form 
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form --
						<div class="subscribe-form ">
							<a href="index.html"><img src="static/cisl/img/web2.png" style="width:100px;" alt="#"></a>
							<!--<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>--
						</div>
						<!-- End Newsletter Form --
					</div>
				</div>
			</div>
		</section> -->
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>Our Promise to You:
								</h2>
								<p>We pledge to transform your perception of insurance by creating an experience that empowers you with knowledge, confidence, and unwavering protection. As your partners, we are devoted to your success, walking alongside you every step of the way to ensure your insurance journey is not just secure but also fulfilling and rewarding. </p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-google-plus"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
									<li><a href="#"><i class="icofont-vimeo"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Quick Links</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Claims</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Policies</a></li>	
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consulting</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Leadership</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Placements</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>	
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>subscribe to our newsletter to get allour news in your inbox.</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Your email address'" required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
						<!-- <div class="col-lg-3 col-md-6 col-12">
							 -->
							<!--<div class="single-footer">
								<h2>Open Hours</h2>
								<p>Lorem ipsum dolor sit ame consectetur adipisicing elit do eiusmod tempor incididunt.</p>
								<ul class="time-sidual">
									<li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
									<li class="day">Saturday <span>9.00-18.30</span></li>
									<li class="day">Monday - Thusday <span>9.00-15.00</span></li>
								</ul>
							</div>-->
						<!-- </div> -->
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2020  | CISL</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="static/cisl/js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="static/cisl/js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="static/cisl/js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="static/cisl/js/easing.js"></script>
		<!-- Color JS -->
		<script src="static/cisl/js/colors.js"></script>
		<!-- Popper JS -->
		<script src="static/cisl/js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="static/cisl/js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="static/cisl/js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="static/cisl/js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="static/cisl/js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="static/cisl/js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="static/cisl/js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="static/cisl/js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="static/cisl/js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="static/cisl/js/steller.js"></script>
		<!-- Wow JS -->
		<script src="static/cisl/js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="static/cisl/js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="static/cisl/js/bootstrap.min.js"></script>
		<!-- Main JS -->
		<script src="static/cisl/js/main.js"></script>
    </body>
</html>