{% extends 'base.html' %}
{% block body %}
    <hr style="color:gray;">
    <!-- ======= Hero Slider Section ======= -->
   


      <!-- ======= Search Results ======= -->
      <section id="search-result" class="search-result">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3 class="category-title">SRC Leadership/Committees</h3>
  
              <div class="d-md-flex post-entry-2 small-img">
                <div>
                 
                <div class="post-meta"><span class="date">SRC Committees</span> <span class="mx-1">&bullet;</span> </div>
                  <h3><a href="single-post.html">
                    
                 

                  {%for user in users%} 
              <a href="{{url_for("list", userid=user.id)}}" style="text-decoration: none; color: #992621;">
                <h3><a href="single-post.html">
                    
                  {{user.name}}</a></h3>
               
                  <p class="text-muted" style="font-size:15px;">{{user.description}}</p>
              </a>
              {% endfor %} 

                  
                </div>
                <a href="single-post.html" class="me-4 thumbnail">
                 
                </a>
              </div>
  
            
            
  
              <!-- <div class="text-start py-4">
                <div class="custom-pagination">
                  <a href="#" class="prev">Prevous</a>
                  <a href="#" class="active">1</a>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#" class="next">Next</a>
                </div>
              </div>-->
  
              <!-- Paging -->
             <!-- End Paging -->
  
            </div>
  
           
           
              
            </div><!-- End Video -->
          </div>
        </div>
      </section> <!-- End Search Result -->
      {% endblock body %}

