{% extends 'base.html' %}
{% block body %}
    <hr style="color:gray;">
    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('static/asssets/img/r.jpg');" loading="lazy">
                    <div class="img-bg-inner">
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('static/asssets/img/w.jpg');" loading="lazy">
                    <div class="img-bg-inner">
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('static/asssets/img/p.jpg');" loading="lazy">
                    <div class="img-bg-inner">
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('static/asssets/img/e.jpg');" loading="lazy">
                    <div class="img-bg-inner">
                    </div>
                  </a>
                </div>
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->






    <section style="background-color:red; margin:30px;">
      <div class="container" style="text-align:center;" data-aos="fade-up">
        <h6 style="font-size:30px; color:#fff;"><b>Central University SRC Constitution</b></h6>
        <h6 style="font-size:20px; color:#fff;">Downlaod the Constitution with just one click </h6>
      </div>
     
        <a href="/getfunds" > <h6 style="margin:auto; text-align:center; border-style:solid; border-width:1px; width:260px; padding:10px; border-color:#fff; color:#fff; ">SRC Constitution '2023</h6></a>
                 
                </div>
    </section>


<section class=" bg-light py-5" style="box-shadow: 2px 2px 10px 0px rgba(136, 136, 136, 0.3);">
  <div class="container" data-aos="fade-up" >
    <div class="row justify-content-between align-items-lg-center" >
      <div class="col-lg-5 mb-4 mb-lg-0">
        <h2 class=""><b>The Constitution.</b></h2>
        <p>The 2021 SRC Constitution stands as the blueprint defining the structure, functions, and responsibilities of our Student Representative Council. It comprehensively outlines the roles and duties of each council member. 
          Moreover, the Constitution details the workings of the Parliament, the highest decision-making body, responsible for deliberating and enacting resolutions that shape our student community.</p>
        <p> This document serves as the guiding compass, fostering transparency, accountability, and effective governance within our student body. 
          The Constitution captures the essence of the SRC, emphasizing its significance in guiding the student body, functioning and highlighting its emphasis on structured governance and representation.</p>
        <p><a href="#" class="more">Downlaod By Clicking Here</a></p>
      </div>
      <div class="col-lg-6">
        
            <img src="static/asssets/img/e.jpg" style="border-radius:10px;  " class="img-fluid mb-4" loading="lazy">
          
      </div>
    </div>
  </div>
  
</section>

<section style="background-color:red;">
  <div class="container" style="text-align:center;" data-aos="fade-up">
    <h6 style="font-size:30px; color:#fff;"><b>Face of CU Form Out Now!</b></h6>
    <h6 style="font-size:20px; color:#fff;">Download the Face of Central University Forms. </h6>
  </div>
 
    <a href="#" > <h6 style="margin:auto; text-align:center; border-style:solid; border-width:1px; width:260px; padding:10px; border-color:#fff; color:#fff; " data-aos="fade-up">FACE OF CU'2024</h6></a>
             
            </div>
</section>


{% endblock body %}