{% extends 'try.html' %}
{% block body %}




<h4>Campus Ministry Dashboard</h4>
<br>


<div class="row" style="justify-content: space-between;">
  
  <div class="col-md-4 ">
    <div class="department-item" data-aos="fade-down-left">
      <a href="/list" style="text-decoration: none; color: #992621;">
        <h5 class="names"> Total Students: </h5>
        <h5 class="names" style="color:red;"> {{ total_students }} </h5>
    </a>
    </div>
  </div>
  
  <div class="col-md-4 ">
    <div class="department-item" data-aos="fade-down-left">
      <a href="/male_users" style="text-decoration: none; color: #992621;">
        <h5 class="names"> Total Male Students: </h5>
        <h5 class="names" style="color:red;"> {{ total_male }}</h5>
    </a>
    </div>
  </div>
  

  <div class="col-md-4 ">
    <div class="department-item" data-aos="fade-down-left">
      <a href="/female_users" style="text-decoration: none; color: #992621;">
        <h5 class="names"> Total Female Students: </h5>
        <h5 class="names" style="color:red;"> {{ total_female }}</h5>
    </a>
    </div>
  </div>

  <div class="col-md-4 ">
    
    <div class="department-item" data-aos="fade-down-left">
      <a href="/users_by_position" style="text-decoration: none; color: #992621;">
        <h5 class="names">Ministries Executives</h5>
        <h5 class="names" style="color:red;"> {{ total_people_with_positions }}</h5>
    </a>
    </div>
  </div>

  <div class="col-md-4 ">
    <div class="department-item" data-aos="fade-down-left">
      <a href="/leader" style="text-decoration: none; color: #992621;">
        <h5 class="names"> Directors/Directress: </h5>
        <h5 class="names" style="color:red;">{{total_leaders}}</h5>
    </a>
    </div>
  </div>
  

  <div class="col-md-4 ">
    <div class="department-item" data-aos="fade-down-left">
      <a href="/sms" style="text-decoration: none; color: #992621;">
        <h5 class="names"> Send A Bulk Message</h5>
        <h5 class="text-muted">Generate an auto send sms </h5>
    </a>
    </div>
  </div>


  

  
  
</div>





{% endblock body %}







