
{% extends 'landingpage.html' %}

{% block body %}
<div class="container">
   
    <div class="row">
        
        <div class="col-lg-12">
  
    <form method="POST" action="{{ url_for('group') }}"style="background-color:#fff; padding:30px; border-radius:10px;">
        <h6 class="h3 font-bold mb-5" style="margin-bottom:10px;">Create Warehouse</h6>
       <hr>
        <div class="alert alert-success" style="margin-top:30px;" role="alert">
            <h6>
            Choose your optional warehouse categories.
            </h6>  
           </div>
        {{ form.hidden_tag() }}
       
    
        <label for="basic-url" class="form-label">Enter The Name: <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          {{form.name(type="text", class="form-control", placeholder="WareHouse Name")}}
        </div>
    
       <label for="basic-url" class="form-label">Choose A Category: <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          {{form.manufacturing(type="text", class="form-control", placeholder="Recipient's username")}}
        </div>

       
    
    
    <hr>
        
        <label for="basic-url" class="form-label fs-5">Choose A date <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">{{ form.start_date.label }}</span>
         {{ form.start_date( class="form-control" ,required="required") }}
          
        </div>



        
        {{ form.submit(class="btn btn-primary" , style="width:100%;" ) }}
    </form>

    {% if form.errors %}
        <div style="color: red;">
            <p>Errors:</p>
            <ul>
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

<div class="col-lg-6">
                                   
</div>

</div>
</div>


{%endblock body%}
