{% extends 'landingpage.html' %}

{% block body %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row g-6 mb-6">
      
        

      <div class="card shadow border-0 mb-7">
        <div class="card-header">
            <h5 class="mb-0">In-Stock</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Product ID</th>
                        <th scope="col">Category</th>  
                        <th scope="col">Condition</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for users in users%} 
                    <tr>
                        <td>
                            <a class="text-heading font-semibold" href="#">
                                {{users.name}}
                            </a>
                        </td>
                        <td>
                            {{ current_code }}Qa1143
                          
                        </td>
                        <td>
                            <!-- <img alt="..." src="#" class="avatar avatar-xs rounded-circle me-2">
                           -->
                            <a class="text-heading font-semibold" href="#">
                                {{users.group.name}}
                            </a>
                        </td>
                       
                        <td>
                            {% if users.quantity | int >= 20 %}
                            <span class="badge badge-pill bg-soft-success text-success me-2">
                                <i class="bi bi-arrow-up me-1"></i>In-stock
                            </span>
                        {% elif users.quantity | int >= 10 and users.quantity | int <= 20 %}
                            <span class="badge badge-pill bg-soft-warning text-warning me-2">
                                <i class="bi bi-dash me-1"></i>Low Stock
                            </span>
                        {% elif users.quantity | int < 10 %}
                            <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                <i class="bi bi-arrow-down me-1"></i>Out of Stock
                            </span>
                        {% endif %}
                        
                           <!-- <span class="badge badge-lg badge-dot">
                                <i class="bg-success"></i>In-Stock
                            </span>-->
                        </td>
                        <td>
                            {{users.quantity}}
                        </td>
                        
                       

                        <td>
                            <img alt="..." src="https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg" class="avatar avatar-xs square-circle me-2">
                          
                        </td>

                        <td>
                            {{users.start_date}}
                        </td>


                        <td class="text-end">
                            <a href="#" class="btn btn-sm btn-neutral">Report</a>

                            <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                <i class="bi bi-trash"></i>
                               
                            </button>
                            <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                            
                                <i class="bi bi-plus"></i>
                            </button>
                        </td>
                        
                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
        </div>
    </div>
  
 
</div>

<script>
    function generateRandomCode() {
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var codeLength = 6;
        var code = '';
        for (var i = 0; i < codeLength; i++) {
            var randomIndex = Math.floor(Math.random() * characters.length);
            code += characters.charAt(randomIndex);
        }
        return code;
    }

    // Generate and display the unique code when the form is submitted
    document.getElementById('faqForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the form from submitting
        var uniqueCode = generateRandomCode();
        document.getElementById('uniqueCode').innerText = 'Unique Code: ' + uniqueCode;
    });
</script>
{%endblock body%}
