

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>DocuTrack</title>
  <meta name="title" content="Fasteat - The Best Restaurants In Your Home">
  <meta name="description" content="This is a food html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favico.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/assets/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->

  <!-- 
    - #PRELOADER
  -->

  <div class="loading-container" data-loading-container>
    <div class="loading-circle"></div>
  </div>





  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <a href="#" class="logo">

       
        <img src="https://www.central.edu.gh/static/img/Central-Uni-logo.png" width="100" height="100" alt="">
      </a>

      <nav class="navbar" data-navbar>
        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

       
        <!--<ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="btn btn-primary has-after">upload</a>
          </li>

          <li class="navbar-item">
            
            <a href="#" class="btn btn-primary has-after">Order Now</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="btn btn-primary has-after">Order Now</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>Contacts</a>
          </li>

        </ul>-->
     </nav>

     <div class="header-action">
        

      <a href="upload.html" class="btn btn-primary has-after" style="font-size:14px;">Contact Us!</a>
    </div>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

    <div class="overlay" data-overlay data-nav-toggler></div>

  </div>
  </header>





  <main>
    <article>

     
     
          <section class="section newslettr" aria-label="newsletter">
            <div class="container" >
    
    
              <div class="newsletter-content" data-reveal="right">
                
                <h2 class="h4 section-title" style="text-align:center;">
                  Add PDF
                 </h2>
                 <p class="section-text" style="text-align:center; margin-bottom:20px;" data-reveal>
                  Want others to improve their chances of success and build confidence in their exam?
                 </p>
                 <form >
                  <input type="text"
                      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" style="width:85%; border: none">
                   
              </form>
                 <form method="POST" action="/addinfo" enctype="multipart/form-data" >
                  {{form.hidden_tag()}}
                 
               
                <div class="input-wrapper">
                  {{ form.pdf_file(class="input-field my-5 my-lg-5 mt-2 space") }}
                  {{form.name(class="input-field my-5 my-lg-5 mt-2 space",  placeholder="name",id="floatingInput")}}
                  {{form.year(class="input-field my-5 my-lg-5 mt-2 space",  placeholder="",id="floatingInput")}}
                  
                  {{form.schools(class="input-field my-5 my-lg-5 mt-2 space",id="floatingInput")}}
                  {{form.level(class="input-field my-5 my-lg-5 mt-2 space",id="floatingInput")}}
                  
                 
                
               
<div id="submitButton">

  <button class="btn" style="color: #fff; background: #992621; border: none; margin:auto; font-size:12px; margin-top:10px;" type="submit" >Send the pdf</button>
</div>  
    
                   
                  </button>
                </div>
                
              </div>
    
            </div>
          </section>

        </div>
      </section>



     

     

    </article>
  </main>






              
</form>

  <!-- 
    - custom js link
  -->
  <script src="static/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>



