{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="shortcut icon" href="https://www.central.edu.gh/static/img/Central-Uni-logo.png" type="image/svg+xml">

  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asssets/css/main.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asssets/css/variables.css')}}">

  <!-- Favicons -->
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/asssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/asssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/asssets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/asssets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/asssets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="static/asssets/css/variables.css" rel="stylesheet">
  <link href="static/asssets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="static/img/new.jpeg" alt="" width="90" height="100" loading="lazy"> 
        
      
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/src"><b>Home</b></a></li>
          <li><a href="/aboutsrc"><b>About CU SRC</b></a></li>
         
          <li class="dropdown"><a href="/committee"><span><b>Blog & Gallery</b></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              {%for user in users%} 
              <li><a href="/leadership">
                {{user.name}}
    
  </a></li>
              <li><a href="#">WOMENS COMMISSION COMMITTEE</a></li>
              
              <li><a href="#">BUSINESS DEVELOPMENT AND SPONSORSHIP COMMITTEE</a></li>
              <li><a href="#">PUBLIC RELATIONS COMMITTEE</a></li>
              <li><a href="#">ENTERTAINMENT COMMITTEE</a></li>
              <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">FINANCE COMMITTEE</a></li>
                  <li><a href="#">INTERNATIONAL STUDENTS COMMITTEE</a></li>
                  <li><a href="#">LOCAL NUGS SECRETARIAT</a></li>
                  <li><a href="#">LOCAL PUSAG SECRETARIAT</a></li>
                  <li><a href="#">PROJECT AND PLANNING COMMITTEE</a></li>
                  <li><a href="#">STUDENTS CHAPLAINCY COMMITTEE</a></li>
                  <li><a href="#">SPORTS COMMITTEE</a></li>
                  <li><a href="#">TRANSPORT COMMITTEE</a></li>
                  <li><a href="#">PROCUREMENT COMMITTEE</a></li>
                  <li><a href="#">ORGANIZING COMMITTEE</a></li>
                  <li><a href="#">CADET CORPS</a></li>
                </ul>
              </li>
              {% endfor %} 
            </ul>
          </li>

          <li><a href="/annoucement"><b>Annoucements</b></a></li>
          
          <li><a href="/constitution"><b>Constitution</b></a></li>
        </ul>
      </nav><!-- .navbar -->
    

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">
    <hr style="color:gray;">
    <!-- ======= Hero Slider Section ======= -->
   


      <!-- ======= Search Results ======= -->
      <section id="search-result" class="search-result">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3 class="category-title">SRC Leadership/Committees</h3>
  
              <div class="d-md-flex post-entry-2 small-img">
                <div>
                 
                <div class="post-meta"><span class="date">SRC Committees</span> <span class="mx-1">&bullet;</span> </div>
                  <h3><a href="single-post.html">
                    
                    {{profile.name}}</a></h3>
                  <p>{{profile.description}}</p>
                  
                </div>
                <a href="single-post.html" class="me-4 thumbnail">
                 
                </a>
              </div>
  
            
            
  
              
  
              <!-- Paging -->
             <!-- <div class="text-start py-4">
                <div class="custom-pagination">
                  <a href="#" class="prev">Prevous</a>
                  <a href="#" class="active">1</a>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#" class="next">Next</a>
                </div>
              </div>-->
              <!-- End Paging -->
  
            </div>
  
            
  
          </div>
        </div>
      </section> <!-- End Search Result -->
      {% endblock body %}

