

<!--https://mdbootstrap.com/docs/standard/navigation/footer/-->



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title></title>
  <meta name="title" content="">
  <meta name="description" content="">

  <script src="static/css/index.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css"> 
    <!-- Local Styles -->

<!-- FontAwesomeKit -->
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favico.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/assets/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->

</head>


<div class="loading-container" data-loading-container>
  <div class="loading-circle"></div>
</div>





<!-- 
  - #HEADER
-->

<header class="header" data-header>
  <div class="container">
    <a href="#" class="logo">

      <a href="/main"> <button ><h6 style=" padding:20px; border-radius:20px; width:200px; color:#000; font-size:20px;">Abitrack Logs</h6></button></a>
     </a>
   

    <nav class="navbar" data-navbar>
      <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
      <a href="/post" style="color:#000;"><img src="static/img/app.png" style="width:25px; margin-left:20px;"></a>

       
              
       <a href="votes" style="text-decoration:none; color:#000;"><img src="static/img/pp.png" style="width:25px; margin-right:25px;"></a> 
         </button>


     
   </nav>

    <div class="header-action" style="display:flex;">
      <button class="print-button"  onclick="window.print()"><h6 style="background-color:#000; padding:10px; border-radius:20px; width:100px; color:#fff; font-size:20px;">Print</h6></button>
 
      </div>

    <!--<button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>-->

    <div class="overlay" data-overlay data-nav-toggler></div>

  </div>
  
</header>


<div class="containe" style="margin-top:120px; padding:30px;">

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      
    {% endfor %}
  {% endif %}
  {% endwith %}
<table class="table align-middle bg-white" style="margin-bottom:50px;">
  <thead class="bg-light">
    <tr>
      <th>Email</th>
      <th>Today date</th>
      <th>Activity</th>
      <th>Implemention</th>
      <th>Tag</th>
      <th>Challenges</th>
      <th>Future Tag</th>
      <th>Action</th>
     
    </tr>
  </thead>
  <tbody>
    <form action=""method="POST", "GET">
      {{form.hidden_tag()}}
      <td>
        {{ form.email( class="input-field", id="floatingInput", style="width:100%;", required="required", placeholder="email")  }}
      
          </td>
    <td>
  {{ form.date ( class="input-field", id="floatingInput", style="width:100%;", required="required")  }}

    </td>

    <td>
      
  {{ form.activity ( class="input-field", id="floatingInput", style="width:100%;", required="required",placeholder="Activity")  }}
     
    </td>
    <td>
  {{ form.implementation ( class="input-field", id="floatingInput", style="width:100%;", required="required", placeholder="Implemention")  }}

     
    </td>
    <td>
      {{ form.tag ( class="input-field", id="floatingInput", style="width:100%;", required="required")  }}

    </td>
    <td>{{ form.challenges ( class="input-field", id="floatingInput", style="width:100%;", required="required", placeholder="Challenges")  }}

    
    </td>
    <td>{{ form.future( class="input-field", id="floatingInput", style="width:100%;", required="required", placeholder="Challenges")  }}

    
    </td>

<td>
{{ form.submit ( class="input-field", id="floatingInput", style="width:100%;", required="required", placeholder="Future")  }}

</td>
  </form>



    <!--{%for users in users%} 
    
      <td>
        <a href="{{url_for("list", userid=users.id)}}" style="text-decoration: none; color: #000;">
        <div class="d-flex align-items-center">
          <img
              src={{users.image_file}}
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
      <a href="{{url_for("list", userid=users.id)}}" style="text-decoration: none; color: #000;">

            <p class="fw-bold mb-1">{{users.fullname}}</p>
            <!--<p class="text-muted mb-0">{{users.campus}}</p>-
          
          </div>
        </div>
      </td>
   

      <td>
        <p class="fw-normal mb-1 fs-0">{{users.gender}}</p>
        <p class="text-muted mb-0">{{users.program}}</p>
      </td>

      <td><p class="fw-normal mb-1 fs-0">{{users.email}}</p>
        <p class="text-muted mb-0">{{users.telephone}}</p></td>
      
        <td><p class="fw-normal mb-1 fs-0">{{users.ministry}}</p>
          </td>

        </a>
       
        </tr>
          {%endfor%}-->
    
  </tbody>
</table>



<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
     <!-- <th>Email</th>-->
      <th>Today date</th>
      <th>Activity</th>
      <th>Implemention</th>
      <th>Tag</th>
      <th>Challenges</th>
      <th>Future Tag</th>
      
     
    </tr>
  </thead>
  <tbody>
    



    {%for users in users%} 
   <!-- <td>
      <p class="fw-normal mb-1 fs-0">{{users.email}}</p>
      </td>-->
      <td>
        {{users.date}}
      </td>
   

      <td>
        <p class="fw-normal mb-1 fs-0 fs-0">{{users.activity}}</p>
       
      </td>

      <td>
        <p class="fw-normal mb-1 fs-0 overflow-auto" >{{users.implementation}}</p>
       
      
        <td>
          <p class="fw-normal mb-1 fs-0 ">{{users.tag}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1 fs-0">{{users.challenges}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1 fs-0">{{users.future}}</p>
              </td>

        </a>
       
        </tr>
          {%endfor%}
    
  </tbody>
</table>
  <!-- 
    - custom js link
  -->
  <script src="static/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>


