
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylee.css')}}">
  <title>Login Form </title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger mb-3" role="alert">
          {{ message }} 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% endfor %}
  {% endif %}
{% endwith %}



{% block body %}
{% endblock%}


  <div class="login-wrapper">
    <form action=" " class="form" method="POST"> 
      {{form.hidden_tag()}}
        <img src="static/img/new.jpeg">
      <h2>Login Form</h2>
      <div class="input-group">

        {{form.email(class="input-group")}}
        <label for="loginUser">Email</label>
      </div>
      <div class="input-group">
        {{form.password(class="input-group")}}
        <label for="loginPassword">Password</label>
      </div>

      {{form.submit(class="submit-btn")}}
      
  </div>
</body>
</html>