

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>

  <!-- 
    - favicon
  -->
  
  <link rel="shortcut icon" href="static/assetss/images/me.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/assetss/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="static/assetss/images/hero-banner.png">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <b style="font-size:20px;" class="text-danger">🚀 Invento</b>

      <a href="#" class="logo"></a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <img src="static/assetss/images/me.png" style="width:80px;" alt="hero banner" class="w-100">

          <a href="#" class="logo"></a>

         
        </div>

        

      </nav>

    
    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" aria-label="hero">
        
          <div class="container">
  
            
  
            <div class="feature-content">
  
              <p class="section-subtitle has-before">LOGIN TO YOUR PORTAL</p>

              <h2 class="h2 section-title">
              Your <span class="has-before">Dashboard</span> is Ready.
              </h2>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger mb-3" role="alert">
          {{ message }} 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% endfor %}
  {% endif %}
{% endwith %}



{% block body %}
{% endblock%}



<form action=" " class="form" method="POST"> 
  {{form.hidden_tag()}}
 
  
   
              <ul class="feature-list">
  
                <input type="email" name="email" placeholder="Enter Company Email" required class="input-field", style="padding:15px; border-radius:15px; width:300%px;box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
               
                <input type="password" name="password" placeholder="Enter Password" required class="input-field", style="padding:15px; border-radius:15px; width:300%px;box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
                {{form.submit(class="btn btn-primary has-before has-after")}}
    
              </form>
              <span> <a href="/signup" style="color: blue;">I dont have an account yet, Create Account?</a></span> 
                <!-- <li>
                  <div class="feature-card">
  
                    <div class="card-icon" style="--color: 174, 77%, 50%">
                      <ion-icon name="rocket-sharp" aria-hidden="true"></ion-icon>
                    </div>
  
                    <div>
                      <h6 class="h3 card-title">Full Name</h6>
  
                     <!-- <p class="card-text">
                        At Pixology we specialize in designing, building, shipping and scaling beautifu.
                      </p>
                      <input type="" name="" placeholder="Email" required class="input-field", style=" width:300%px;box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
                  
                    </div>
  
                  </div>
                </li>-->
  
                <!--<li>
                  <div class="feature-card">
  
                    <div class="card-icon" style="--color: 241, 77%, 63%;">
                      <ion-icon name="people-sharp" aria-hidden="true"></ion-icon>
                    </div>
  
                    <div>
                      <h3 class="h3 card-title">Didicated team</h3>
  
                      <p class="card-text">
                        At Pixology we specialize in designing, building, shipping and scaling beautifu.
                      </p>
                    </div>
  
                  </div>
                </li>-->
               
  
                <li>
                  <div class="feature-card">
  
                    <div class="card-icon" style="--color: 343, 98%, 60%;">
                      <ion-icon name="headset-sharp" aria-hidden="true"></ion-icon>
                    </div>
  
                    <div>
                      <h3 class="h3 card-title">24/7 hours support</h3>
  
                      <p class="card-text">
                        At Pixology we specialize in designing, building, shipping and scaling beautifu.
                      </p>
                    </div>
  
                  </div>
                </li>
  
              </ul>
  
            </div>

            <figure class="feature-banner">
              <img src="static/assetss/images/me.png" width="582" height="585" loading="lazy" alt="feature banner"
                class="w-100">
            </figure>
  
          </div>
        </section>
      </section>

















    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <!--<footer class="footer">
    <div class="container">

      <div class="footer-top section">

        <div class="footer-brand">

          <p class="footer-list-title">About Pixology</p>

          <p class="footer-text" style="color:#fff;">
            A new way to make the payments easy, reliable and 100% secure. claritatem itamconse quat. Exerci tationulla
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-skype"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list" style="color:#fff;">

          <li>
            <p class="footer-list-title">Usefull Links</p>
          </li>

          <li>
            <a href="#" class="footer-link">Contact us</a>
          </li>

          <li>
            <a href="#" class="footer-link">How it Works</a>
          </li>

          <li>
            <a href="#" class="footer-link">Create</a>
          </li>

          <li>
            <a href="#" class="footer-link">Explore</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & Services</a>
          </li>

        </ul>

        <ul class="footer-list" style="color:#fff;">

          <li>
            <p class="footer-list-title">Community</p>
          </li>

          <li>
            <a href="#" class="footer-link">Help Center</a>
          </li>

          <li>
            <a href="#" class="footer-link">Partners</a>
          </li>

          <li>
            <a href="#" class="footer-link">Suggestions</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Newsletters</a>
          </li>

        </ul>

        <ul class="footer-list" style="color:#fff;">

          <li>
            <p class="footer-list-title">Community</p>
          </li>

          <li>
            <a href="#" class="footer-link">Help Center</a>
          </li>

          <li>
            <a href="#" class="footer-link">Partners</a>
          </li>

          <li>
            <a href="#" class="footer-link">Suggestions</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Newsletters</a>
          </li>


      </div>

      <div class="footer-bottom">

        <p class="copyright">
          &copy; copyright 2023. Designed by PrestoGhana
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Terms and conditions</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Privacy policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Login / Signup</a>
          </li>

        </ul>

      </div>

    </div>
  </footer>-->





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn has-after active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="static/assetss/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>