<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbiTrack | Inventory Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/assetss/css/news.css">
    <link rel="stylesheet" href="static/assetss/css/tailwind.css" />
</head>
<body>
    <div class="container-fluid h-100 p-0">

       <!-- <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="col-xl-12 col-sm-12 col-12" style="  ">
                        <div class="card  shadow border-1 " style="background-color:#5a00c1; color:#fff; ">
                            
                            <div class="card-body "> 
                                <div class="row"> 
                                    <div class="col-xl-12 col-12">
                                        <h6  style=" text-align:left;font-size:24px; color:#fff;"> <b>Agreement For Skilled Labor  </h6>
                                    
                                       <h6  style="  color:#fff; text-align:left; font-size:14px;"> Independent Contractor Relationship
                                        Unless otherwise required by law, Contractor is an independent contractor, not an employee of Client.
                                        
                                        <br> <br>
                                      
                                        Confidentiality
                                        All information, ideas, and concepts you encounter in this application during testing are strictly confidential. You are prohibited from copying, reusing, or sharing any aspect of this application or its content.
                                        <br> <br>
                                        Non-Disclosure
                                        You agree not to disclose any information or feedback gained through this test to any outside parties, now or in the future.
                                        <br> <br>
                                        Limited Testing Period
                                        Your access and use of the application are solely for the testing period specified by us. Once the testing period ends, you are no longer authorized to access or interact with the application for any purpose, unless expressly granted permission in writing.
                                        <br> <br>
                                        Intellectual Property Rights
                                        All ideas, designs, concepts, and improvements created or disclosed during the test are the sole property of Abitrack. By participating in this test, you waive any claims to intellectual property rights over the material within the application.
                                        <br> <br>
                                        Feedback Usage
                                        Any feedback you provide may be used by Abitrack to improve the application. However, providing feedback does not grant you any ownership or rights over the product.
                                       
                                      
                                      
                                      </h6> 
            
                                           <a href="/group"> <button type="button" style="margin-top:20px; border-radius:50px; width:250px; background-color:#fff;" class="btn position-relative text-dark">
                                              <b>I Agree</b>
                                            </button></a>   
                                    </div>
            
                                   
                                   
                                   
                                </div>
                                
                                <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                --      
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>-->
        <!-- Left Panel: Sign In -->
        <div class="row h-100 g-0 ">
            <div class="col-md-4 p-3 d-flex justify-content-center align-items-center bg-white ">
                <div class="form-container ">
                    <div class="logo text-center mt-5"><b>Abitrack 🎉</b></div>
                    <h2 class="text-center"><b>Log Into Dashboard {{current_user.company_name}}</b></h2>
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-light mb-3" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <label for="email">Email address</label>
                        {{ form.email(class="input-field",  style="width:100%; background-color:#fff; padding:10px; color:#000;",placeholder="name@gmail.com",   required='required') }}
                        {% if form.email.errors %}
                              <div class="text-danger">
                                  {% for error in form.email.errors %}
                                      <small>{{ error }}</small>
                                  {% endfor %}
                              </div>
                          {% endif %}


                        <label for="email" class="mt-2">Password</label>
                        {{ form.password(class="input-field", id="myInput",  style="width:100%; background-color:#fff; padding:10px; color:#000;",placeholder="********",   required='required') }}

                        {% if form.password.errors %}
                        <div class="text-danger">
                        {% for error in form.password.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                            </div>
                        {% endif %}
                      
                       
                 
                        <button type="submit" class="shadow" style=" background:#5e3bc1; width:100%; border:none; padding:10px; color:#fff; border-radius:10px; margin-top:10px;">Log In</button>
                        
                        <p class="text-center h-6 mt-5">Create Account <a href="/signmein">Click Here</a>.</p>

                        
                       
                     
                    </form>
                    <p class="text-center">By signing in, I agree to Read's <a href="#">Terms of Service</a> and acknowledge I have read the <a href="#">Privacy Policy</a>.</p>
                </div>
            </div>

            <!-- Right Panel: Image -->
            <div class="col-md-8 d-none d-md-block right-panel" style="background-image: url('https://firmbee.com/wp-content/uploads/jason-goodman-Oalh2MojUuk-unsplash-1-2000x1333.jpg');">
            </div>
        </div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myModal = new bootstrap.Modal(document.getElementById('myModal'));
            myModal.show();
        });
    </script>
    
    <script>
        $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
              input.attr("type", "text");
            } else {
              input.attr("type", "password");
            }
          });
        </script>    

<script>
    
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
</body>
</html>
