

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 
  <!-- 
    - favicon
  -->
  
  <link rel="shortcut icon" href="static/assetss/images/me.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/assetss/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="static/assetss/images/hero-banner.png">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <b style="font-size:20px;" class="text-danger">🚀 AbiTrack</b>

      <a href="#" class="logo"></a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="/main" >  <b style="font-size:20px;" class="text-light bg-danger p-2">Go to Dashboard 👋</b></a>

          <a href="#" class="logo"></a>

         
        </div>

        

      </nav>

    
    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" aria-label="hero">
        
          <div class="container">
  
            
  
            <div class="feature-content">
  
              <p class="section-subtitle has-before">LOGIN TO YOUR PORTAL</p>

              <h2 class="h2 section-title">
              Your <span class="has-before">Dashboard</span> is Ready.
              </h2>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger mb-3" role="alert">
          {{ message }} 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% endfor %}
  {% endif %}
{% endwith %}



{% block body %}
{% endblock%}



<form action=" " class="form" method="POST"> 
  {{form.hidden_tag()}}
              
              
                  <h5 class="text-muted" >
       
      Enter Email Here
     </h5> 
                <input type="email" name="email" placeholder="Enter email" required class="input-field", style="padding:15px; border-radius:15px; width:300%px; box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
               
                <h5 class="text-muted" style="margin-top:20px;" >
       
                  Enter Password Here
                 </h5> 
                <input type="password" name="password" placeholder="Enter password" required class="input-field", style="padding:15px; border-radius:15px; width:300%px; box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
                
                
                
                <div class="feature-card">
                  
                  <div class="card-icon" >
                    <input type="checkbox" onclick="togglePasswordVisibility()" style="  ">
                  </div>
               
                  {{form.submit(class="btn btn-primary has-before has-after")}}
                </div>

              
    
              </form>
              <span> <a href="/choose" style="color: blue;">I dont have an account yet, Create Account?</a></span> 
                <!-- <li>
                  <div class="feature-card">
  
                    <div class="card-icon" style="--color: 174, 77%, 50%">
                      <ion-icon name="rocket-sharp" aria-hidden="true"></ion-icon>
                    </div>
  
                    <div>
                      <h6 class="h3 card-title">Full Name</h6>
  
                     <!-- <p class="card-text">
                        At Pixology we specialize in designing, building, shipping and scaling beautifu.
                      </p>
                      <input type="" name="" placeholder="Email" required class="input-field", style=" width:300%px;box-shadow: var(--shadow-1);",  placeholder="Fullname",id="floatingInput", required="required">
                  
                    </div>
  
                  </div>
                </li>-->
  
                <!--<li>
                  <div class="feature-card">
  
                    <div class="card-icon" style="--color: 241, 77%, 63%;">
                      <ion-icon name="people-sharp" aria-hidden="true"></ion-icon>
                    </div>
  
                    <div>
                      <h3 class="h3 card-title">Didicated team</h3>
  
                      <p class="card-text">
                        At Pixology we specialize in designing, building, shipping and scaling beautifu.
                      </p>
                    </div>
  
                  </div>
                </li>-->
               
  
                <li>
                  <div class="feature-card">
  
                    <div class="card-icon" style="--color: 343, 98%, 60%;">
                      <ion-icon name="headset-sharp" aria-hidden="true"></ion-icon>
                    </div>
  
                    <div>
                      <h3 class="h3 card-title">24/7 hours support</h3>
  
                      <p class="card-text">
                        At Pixology we specialize in designing, building, shipping and scaling beautifu.
                      </p>
                    </div>
  
                  </div>
                </li>
  
              </ul>
  
            </div>

            <figure class="feature-banner">
              <img src="static/asets/images/portfolio/Portfolio.jpg" width="582" height="585" loading="lazy" alt="feature banner"
                class="w-100">
                <!--<div class="item"><a href="#"><img src="static/asets/images/portfolio/Portfolio.jpg" class="w-100"></a></div>
                       -->
            </figure>
  
          </div>
        </section>
      </section>

















    </article>
  </main>




  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn has-after active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>



  <script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementsByName("password")[0];
        var confirmPasswordField = document.getElementsByName("confirm_password")[0];

        if (passwordField.type === "password") {
            passwordField.type = "text";
            confirmPasswordField.type = "text";
        } else {
            passwordField.type = "password";
            confirmPasswordField.type = "password";
        }
    }
</script>

  <!-- 
    - custom js link
  -->
  <script src="static/assetss/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>