

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/@webpixels/css@1.0/dist/index.css"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/assetss/css/styles.css">

    <title>Wencol Pharmacy</title>
  </head>
  <body>
    <div class="container container-md">

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand fw-bold" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-muted" aria-current="page" href="#"
                >Documentation</a
              >
            </li>
          </ul>
          <button class="btn btn-outline-success">SignUp</button>
        </div>
    </nav>
      <!-- Hero -->
      <div class="section pt-10">
        <h1 class="text-center fw-bolder display-4">
          Landing template for <span class="text-success">startups</span>
        </h1>
        <h3 class="text-muted text-center pt-3">
          Our landing page template works on all devices, so you only have
         
        </h3>
        <div class="hero-btn text-center pt-10">
          <button type="button" class="btn btn-success mt-5 mt-md-0">Get Started</button>
          <button type="button" class="btn btn-secondary mt-5 mt-md-0">
            View on Github
          </button>
        </div>
        <!-- video insert -->
        <img
          src="#"
          class="py-10 img-fluid p-10" style="width:100%; height:500px; object-fit:cover; margin:auto;"
          alt=""
        />
      </div>



      <!-- Feature Section -->
      <div class="section">
        <h1 class="text-center fw-bolder display-5">
          Build up the whole picture
        </h1>
        <h3 class="text-muted text-center pt-3 text-break">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui<br />
          officia deserunt mollit anim id est laborum — semper quis lectus<br />
          nulla at volutpat diam ut venenatis.
        </h3>
        <div class="fs-cards py-10">
          <!-- Row 1 -->
          <div class="row g-2">
            <div class="col-md-4">
              <div class="card flex-column p-5 border-0">
                <div class="icon text-center py-3">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="far fa-star text-white fa-stack-1x"></i>
                  </span>
                </div>
                <h3 class="text-center py-2 fw-bold">Robust Workflow</h3>
                <h5 class="text-center text-muted py-2">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat.
                </h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card flex-column p-5 border-0">
                <div class="icon text-center py-3">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="far fa-paper-plane text-white fa-stack-1x"></i>
                  </span>
                </div>
                <h3 class="text-center py-2 fw-bold">Robust Workflow</h3>
                <h5 class="text-center text-muted py-2">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat.
                </h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card flex-column p-5 border-0">
                <div class="icon text-center py-3">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fab fa-angellist text-white fa-stack-1x"></i>
                  </span>
                </div>
                <h3 class="text-center py-2 fw-bold">Robust Workflow</h3>
                <h5 class="text-center text-muted py-2">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat.
                </h5>
              </div>
            </div>
          </div>
          <!-- Row 2 -->
          <div class="row g-2">
            <div class="col-md-4">
              <div class="card flex-column p-5 border-0">
                <div class="icon text-center py-3">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="far fa-bell text-white fa-stack-1x"></i>
                  </span>
                </div>
                <h3 class="text-center py-2 fw-bold">Robust Workflow</h3>
                <h5 class="text-center text-muted py-2">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat.
                </h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card flex-column p-5 border-0">
                <div class="icon text-center py-3">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fas fa-bicycle text-white fa-stack-1x"></i>
                  </span>
                </div>
                <h3 class="text-center py-2 fw-bold">Robust Workflow</h3>
                <h5 class="text-center text-muted py-2">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat.
                </h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card flex-column p-5 border-0">
                <div class="icon text-center py-3">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-lock text-white fa-stack-1x"></i>
                  </span>
                </div>
                <h3 class="text-center py-2 fw-bold">Robust Workflow</h3>
                <h5 class="text-center text-muted py-2">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-10" />
      <!-- Explainatory Section -->
      <div class="section">
        <h1 class="text-center fw-bolder display-5">
          Workflow that just works
        </h1>
        <h3 class="text-muted text-center pt-3 text-break">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui<br />
          officia deserunt mollit anim id est laborum — semper quis lectus<br />
          nulla at volutpat diam ut venenatis.
        </h3>
        <div class="explain-cards py-10">
          <div class="card mb-3 border-0 py-10">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="card-body">
                  <p class="card-text">
                    <small class="text-success fw-bold"
                      >LIGHTNING FAST WORKFLOW</small
                    >
                  </p>
                  <h5 class="card-title display-6">Data-driven insights</h5>
                  <p class="card-text text-muted fw-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua — Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <img
                  src="./images/demo1.png"
                  class="img-fluid rounded-end"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="card mb-3 border-0 py-10">
            <div class="row g-0">
              <div class="col-md-6">
                <img
                  src="./images/demo1.png"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="card-text">
                    <small class="text-success fw-bold"
                      >LIGHTNING FAST WORKFLOW</small
                    >
                  </p>
                  <h5 class="card-title display-6">Data-driven insights</h5>
                  <p class="card-text text-muted fw-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua — Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 border-0 pt-md-10">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="card-body">
                  <p class="card-text">
                    <small class="text-success fw-bold"
                      >LIGHTNING FAST WORKFLOW</small
                    >
                  </p>
                  <h5 class="card-title display-6">Data-driven insights</h5>
                  <p class="card-text text-muted fw-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua — Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <img
                  src="./images/demo1.png"
                  class="img-fluid rounded-end"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-10" />
      <!-- Testimonials -->
      <div class="section">
        <h1 class="text-center fw-bolder display-5">Customer testimonials</h1>
        <h3 class="text-muted text-center pt-3 text-break pb-10">
          Vitae aliquet nec ullamcorper sit amet risus nullam eget felis <br />
          semper quis lectus nulla at volutpat diam ut venenatis tellus—in
          ornare.
        </h3>
        <!-- testimonial cards -->
        <div class="row row-cols-1 row-cols-md-3 g-7 py-10">
          <div class="col-md-12 col-lg-4">
            <div class="card h-100 bg-light">
              <div class="card-body py-10">
                <h4 class="card-text text-muted lh-base quote">
                  — Duis aute irure dolor in reprehenderit in voluptate velit
                  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum cillum dolore eu fugiat.
                </h4>
                <hr class="px-2 bg-secondary" />
                <h5 class="fw-bold">
                  Diana Rynzhuk /<span class="text-success"> AppName</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="card h-100 bg-light">
              <div class="card-body py-10">
                <h4 class="card-text text-muted lh-base quote">
                  — Duis aute irure dolor in reprehenderit in voluptate velit
                  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum cillum dolore eu fugiat.
                </h4>
                <hr class="px-2 bg-secondary" />
                <h5 class="fw-bold">
                  Roman Level /<span class="text-success"> AppName</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="card h-100 bg-light">
              <div class="card-body py-10">
                <h4 class="card-text text-muted lh-base quote">
                  — Duis aute irure dolor in reprehenderit in voluptate velit
                  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum cillum dolore eu fugiat.
                </h4>
                <hr class="px-2 bg-secondary" />
                <h5 class="fw-bold">
                  Ben Stafford /<span class="text-success"> AppName</span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div class="card newsletter bg-success py-10 px-5">
        <div class="row p-5">
          <h2 class="col-lg-8 fw-bolder">For previewing layouts and visual?</h2>
          <form class="col-lg-4 d-flex mt-5 mt-lg-0">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
      <footer class="pt-10">
        <div class="social-icons py-2 d-flex justify-content-between">
          <h4>LOGO</h4>
          <div class="fw-bold">
            <a href=""><i class="fab fa-instagram px-3"></i></a>
            <a href=""><i class="fab fa-twitter px-3"></i></a>
            <a href=""><i class="fab fa-facebook-f px-3"></i></a>
          </div>
        </div>
        <div class="footer-btm pb-10 row">
          <div class="col-sm-6">
            <h5 class="text-sm-center text-lg-start">
              Made by <a href="">IdeaPile.</a> All right reserved
            </h5>
          </div>
          <div class="col-sm-6">
            <div class="links text-sm-center text-md-end">
              <a class="text-muted px-1" href="">Contact</a>
              <a class="text-muted px-1" href="">About Us</a>
              <a class="text-muted px-1" href="">FAQ's</a>
              <a class="text-muted px-1" href="">Support</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Script Tags -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
