<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="static/assetss/images/logo.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/assetss/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="static/assetss/images/hero-banner.png">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <img src="static/assetss/images/me.png" style="width:80px;" alt="hero banner" class="w-100">

      <a href="#" class="logo"></a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <img src="static/assetss/images/me.png" style="width:80px;" alt="hero banner" class="w-100">

          <a href="#" class="logo"></a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <!--<ul class="navbar-list">

         <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>Dashboard</a>
          </li>

          <li class="navbar-item">
            <a href="#service" class="navbar-link" data-nav-link >Services</a>
          </li>

          <li class="navbar-item">
            <a href="#service" class="navbar-link" data-nav-link >Services</a>
          </li>

		  <li class="navbar-item">
            <a href="#service" class="navbar-link" data-nav-link >Services</a>
          </li>

        </ul>-->

      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <a href="/" class="btn btn-primary has-before has-after">Go to Dashboard 👋</a>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" aria-label="hero">
        <div class="container">

          <div class="hero-content">
            <p class="" style="font-family: sans-serif;">
              Welcome to the
            </p>

            <h1 class="h1 hero-title" style="font-size:35px;">
              Abitu Inventory <span class="has-before">Portal</span>
            </h1>

            <p class="hero-tet" style="margin-bottom:20px; font-family:sans-serif;">
              This is the Central University Staff Portal.
               Get to know everything as a staff on this platform, You can reach out to us if youre facing any diffculty.<br>
			   we optimize supply chain management and improve warehouse efficiency. We strive to provide cutting-edge solutions that enable businesses to track inventory in real-time, make data-driven decisions, and optimize warehouse operations.
			</p>

			
			
			  
            <div class="wrapper">

              <a href="/auth" class="btn btn-primary has-before has-after">Create an account</a>

              <button class="hero-btn" aria-label="pixology promo">
                <ion-icon name="play-outline" aria-hidden="true"></ion-icon>
              </button>
              
            </div>
			<li>
				<div class="feature-card">

				  <div class="card-icon" style="--color: 343, 98%, 60%;">
					<ion-icon name="headset-sharp" aria-hidden="true"></ion-icon>
				  </div>

				  <div>
					<h3 class="h3 card-title">24/7 hours support</h3>

					<p class="card-text">
					  At Pixology we specialize in designing, building, shipping and scaling beautifu.
					</p>
				  </div>

				</div>
			  </li>

          </div>

          <figure class="">
            <img src="static/assetss/images/me.png" style="width:100%;"alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>











      <!-- 
        - #FEATURE
      -->
<!--
      <section class="section feature" id="feature" aria-label="feature">
        <div class="container">

          <figure class="feature-banner">
            <img src="static/assetss/images/me.png" width="582" height="585" loading="lazy" alt="feature banner"
              class="w-100">
          </figure>

          <div class="feature-content">

            <p class="section-subtitle has-before">CU STAFF PORTAL</p>

            <h2 class="h2 section-title">
              Specialist in aviding clients of financial <span class="has-before">challenges</span>
            </h2>

            <ul class="feature-list">

              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 174, 77%, 50%">
                    <ion-icon name="rocket-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">Fast working process</h3>

                    <p class="card-text">
                      At Pixology we specialize in designing, building, shipping and scaling beautifu.
                    </p>
                  </div>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 241, 77%, 63%;">
                    <ion-icon name="people-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">Didicated team</h3>

                    <p class="card-text">
                      At Pixology we specialize in designing, building, shipping and scaling beautifu.
                    </p>
                  </div>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 343, 98%, 60%;">
                    <ion-icon name="headset-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">24/7 hours support</h3>

                    <p class="card-text">
                      At Pixology we specialize in designing, building, shipping and scaling beautifu.
                    </p>
                  </div>

                </div>
              </li>

            </ul>

          </div>

        </div>
      </section>

-->










    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <!--<footer class="footer">
    <div class="container">

      <div class="footer-top section">

        <div class="footer-brand">

          <p class="footer-list-title">About Pixology</p>

          <p class="footer-text" style="color:#fff;">
            A new way to make the payments easy, reliable and 100% secure. claritatem itamconse quat. Exerci tationulla
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-skype"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list" style="color:#fff;">

          <li>
            <p class="footer-list-title">Usefull Links</p>
          </li>

          <li>
            <a href="#" class="footer-link">Contact us</a>
          </li>

          <li>
            <a href="#" class="footer-link">How it Works</a>
          </li>

          <li>
            <a href="#" class="footer-link">Create</a>
          </li>

          <li>
            <a href="#" class="footer-link">Explore</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & Services</a>
          </li>

        </ul>

        <ul class="footer-list" style="color:#fff;">

          <li>
            <p class="footer-list-title">Community</p>
          </li>

          <li>
            <a href="#" class="footer-link">Help Center</a>
          </li>

          <li>
            <a href="#" class="footer-link">Partners</a>
          </li>

          <li>
            <a href="#" class="footer-link">Suggestions</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Newsletters</a>
          </li>

        </ul>

        <ul class="footer-list" style="color:#fff;">

          <li>
            <p class="footer-list-title">Community</p>
          </li>

          <li>
            <a href="#" class="footer-link">Help Center</a>
          </li>

          <li>
            <a href="#" class="footer-link">Partners</a>
          </li>

          <li>
            <a href="#" class="footer-link">Suggestions</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Newsletters</a>
          </li>


      </div>

      <div class="footer-bottom">

        <p class="copyright">
          &copy; copyright 2023. Designed by PrestoGhana
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Terms and conditions</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Privacy policy</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Login / Signup</a>
          </li>

        </ul>

      </div>

    </div>
  </footer>-->





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn has-after active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="static/assetss/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>