{% extends 'landingpage.html' %}

{% block body %}


<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <a href="#" class="avatar avatar-xl rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </a>
        </div>
        <div class="text-center my-6">
          <!-- Title -->
          <a href="#" class="d-block h5 mb-0">{{current_user.name}}</a>
          <!-- Subtitle -->
          <span class="d-block text-sm text-muted">{{current_user.email}}</span>
        </div>
        <!-- Stats -->
        <div class="d-flex">
          
          <div class="col-4 text-center">
            <a href="#" class="h4 font-bolder mb-0">Delta state Nigeria</a>
            <span class="d-block text-sm">Location</span>
          </div>
          <div class="col-4 text-center">
            <a href="#" class="h4 font-bolder mb-0">{{current_user.name}}</a>
            <span class="d-block text-sm">Admin</span>
          </div>
          <div class="col-4 text-center">
            <a href="#" class="h4 font-bolder mb-0">{{current_user.phone}}</a>
            <span class="d-block text-sm">Mobile Number</span>
          </div>
          
         
        </div>
      </div>
    </div>

{%endblock body%}
