{% extends 'landingpage.html' %}

{% block body %}


<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="card">
      <div class="card-body">
      <a href="/personid" > 
        
      <div class="text-left my-0">
          
        <!-- Stats -->
      
        <div class="d-flex">
          <div class="col-4 text-left">
            <a href="/personid" class="h4 font-bolder mb-0">Personal Information</a>
            <span class="d-block text-sm">Full-Name and Number</span>
          </div>
        </div>

      </div>
      
    </a>
    </div>
  </div>


  <div class="card" style="margin-top:20px;">
    <div class="card-body">
        
      <div class="text-left my-0">
          
        <!-- Stats -->
        <div class="d-flex">
          <div class="col-4 text-left">
            <a href="#" class="h4 font-bolder mb-0">Verfication & Authentication</a>
            <span class="d-block text-sm">Email Authentication</span>
          </div>
        </div>

      </div>
      
    </div>
  </div>

  <div class="card" style="margin-top:20px;">
    <div class="card-body">
        
      <div class="text-left my-0">
          
        <!-- Stats -->
        <div class="d-flex">
          <div class="col-4 text-left">
            <a href="#" class="h4 font-bolder mb-0">Subscriptions & Payments</a>
            <span class="d-block text-sm">Upgrade for Free</span>
          </div>
        </div>

      </div>
      
    </div>
  </div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="butto" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <a href="#" class="h4  mb-0">Are you sure you want to Log out?</a>
      </div>
      <div class="modal-footer">
        <a href="{{url_for('logout')}}">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
        </a>
        <button type="button" data-bs-dismiss="modal"   class="btn btn-primary">No, Cancel</button>
      </div>
    </div>
  </div>
</div>


  <div class="card" style="margin-top:20px;">
    <div class="card-body">
        
      <div class="text-left my-0">
          
        <!-- Stats -->
        <div class="d-flex">
          <div class="col-4 text-left">
            <a href="#"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" class="h4 font-bolder mb-0">Logout</a>
           
          </div>
        </div>

      </div>
      
    </div>
  </div>

{%endblock body%}
<a class="nav-link" href="">
  <i class="bi bi-box-arrow-left"></i> Logout
</a>