{% extends 'landingpage.html' %}

{% block body %}


<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <div class="row">
            <div class="col-12 col-lg-12 text-center">
              <span class="d-block text-sm">Personal Information</span>
            </div>
            <div class="col-12 col-lg-12 text-center">
              <a href="#" class="h5 font-bolder mb-0">My Information</a>
            </div>
          </div>
        </div>
        
        <hr>
        
        <div class="row">
          <div class="col-4 col-lg-4 text-center text-align-left text-left">
            <span class="d-block text-sm text-align-left text-left" style="text-align:left;">Email:</span>
          </div>
          <div class="col-8 col-lg-8 text-center text-align-left text-left">
            <a href="#" class="h5 font-bolder mb-0 align-left" style="text-align:left;">{{current_user.email}}</a>
          </div>
        </div>

      
        <hr>
        
        <div class="row">
          <div class="col-4 col-lg-4 text-center text-align-left text-left">
            <span class="d-block text-sm text-align-left text-left" style="text-align:left;">Name:</span>
          </div>
          <div class="col-8 col-lg-8 text-center text-align-left text-left">
            <a href="#" class="h5 font-bolder mb-0 text-align-left text-left" style="text-align:left;">{{current_user.name}}</a>
          </div>
        </div>

        <hr>
       
          <div class="row">
          <div class="col-4 col-lg-4 text-center">
            <span class="d-block text-sm" style="text-align:left;">Category:</span>
          </div>
          <div class="col-8 col-lg-8 text-center">
            <a href="#" class="h5 font-bolder mb-0" style="text-align:left;">{{current_user.category}}</a>
          </div>
        </div>

        <hr>
        
        <div class="row">
          <div class="col-4 col-lg-4 text-center">
            <span class="d-block text-sm" style="text-align:left;">Company Name:</span>
          </div>
          <div class="col-8 col-lg-8 text-center">
            <a href="#" class="h5 font-bolder mb-0" style="text-align:left;">{{current_user.company_name}}</a>
          </div>
        </div>

        <hr>
        
        <div class="row">
          <div class="col-4 col-lg-4 text-center">
            <span class="d-block text-sm" style="text-align:left;">Phone Number</span>
          </div>
          <div class="col-8 col-lg-8 text-center" style="text-align:left;">
            <a href="#" class="h5 font-bolder mb-0" style="text-align:left;">{{current_user.phone}}</a>
          </div>
        </div>
         
        </div>
    </div>

{%endblock body%}
