{% extends 'try.html' %}

{% block body %}


<div class="col-md" style=" background: #fff; border-radius: 5px; padding: 20px;">
   
    <div class="info" style="margin-top: 2vh; text-align: center;">
      <div class="info-pic" style=" margin:auto; ">
        {% if profile.image_file %}
         
          <img src= {{profile.image_file}}  style="width: 200px;  height:100%;background: #992621; margin:auto; border-radius: 30px;" > 
          {% else %}
          <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" style="height:100%; margin:auto;  width: 200px; background: #992621; object-fit:cover; border-radius: 70%;" > 
        {% endif %}
             
      </div>
      
      <div class="info-details" style=" margin-top: 2vh;">
        <h4><b> {{profile.fullname}}</b></h4>
        <h6 class="text-muted">Position: </h6>
        <h5><b> {{profile.position}}</b></h5>
         
      </div>

      
    </div>
      <hr>
      
    <div class="info-more">
      <div class="row">
          <div class="col">
            <h6 class="text-muted">Full Name </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.fullname}}</h4>
          </div>
          <div class="col">
            <h6 class="text-muted">Gender</h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.gender}}</h4>
          </div>
          <div class="col">
            <h6 class="text-muted">Propose Committe </h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.ministry}}</h4>
          </div>
      </div>
    </div>
      
  
  
    <div class="info-more">
        <div class="row">
            <div class="col">
              <h6 class="text-muted">Telephone </h6>
              <h4 style="color: black; margin-bottom: 0;">{{profile.telephone}}</h4>
            </div>
            <div class="col">
                <h6 class="text-muted">Program</h6>
                <h4 style="color: black; margin-bottom: 0;">{{profile.program}}</h4>
              </div>
              <div class="col">
                <h6 class="text-muted">Email</h6>
                <h4 style="color: black; margin-bottom: 0;">{{profile.email}}</h4>
              </div>
        </div>
<br>
        <div class="row">
          <div class="col">
            <h6 class="text-muted">Why do you want to join this committee?</h6>
            <h4 style="color: black; margin-bottom: 0;">{{profile.reason}}</h4>
          </div>
        </div><br>
            <div class="col">
              <h6 class="text-muted">What are the special qualities you will bring to this committee?</h6>
              <h4 style="color: black; margin-bottom: 0;">{{profile.qualities}}</h4>
            </div>
      </div>
      </div>

      
    
   
   

    
</div>





  

  
{% endblock body %}


