<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbiTrack</title>
    <link rel="stylesheet" href="static/asets/libs/OwlCarousel-2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="static/dist/css/iconfont/tabler-icons.css">
    
    <link rel="stylesheet" href="static/dist/css/style.css">
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/style.css')}}">

</head>
<body>
    <!------------------------------>
    <!-- Header Start -->
    <!------------------------------>
    <header class="main-header position-fixed w-100">
            <div class="container">
                <nav class="navbar navbar-expand-xl py-0">
                    <div class="logo">
                        <a class="navbar-brand py-0 me-0" href="#">
                            <b style="font-size:20px;" class="text-danger">🚀 AbiTrack</b>
                            <!--<img src="static/asets/images/sasscandy-logo.svg" alt="">-->
                        </a>
                    </div>
                    <a class="d-inline-block d-lg-block d-xl-none d-xxl-none  nav-toggler text-decoration-none"  data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
                        <i class="ti ti-menu-2 text-warning"></i>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">                                             
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-capitalize" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-capitalize" href="/commercial">Commercial</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link text-capitalize" href="/residential">Residential </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link text-capitalize" href="/support">Support</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-capitalize" href="/features">Features</a>
                                </li>
                               <!-- <li class="nav-item">
                                    <a class="nav-link text-capitalize" href="#">blog</a>
                                </li>-->

                            </ul>
                            <div class="d-flex align-items-center">
                                <!--<div class="input-group  search">
                                    <button class="btn border-0 p-0" type="button" id="button-addon1"><i class="ti ti-search text-white"></i></button>
                                    <input type="text" class="form-control border-0 bg-transparent ps-2" placeholder="search" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>-->
                                <a class="btn btn-warning btn-hover-secondery text-capitalize " href="#">Go to Dashboard 👋</a>
                            </div>
                    </div>
                </nav>
                <hr>
            </div>

            <div class="offcanvas offcanvas-start"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <div class="logo">
                        <a class="navbar-brand py-0 me-0" href="#"><img src="static/asets/images/Creato-logo.svg" alt=""></a>
                    </div> 
                    <button type="button" class="btn-close text-reset  ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ti ti-x text-warning"></i></button>
                </div>
                <div class="offcanvas-body pt-0">
                    <ul class="navbar-nav">
                        <a class="btn btn-warning btn-hover-secondery text-capitalize " href="#">Go to Dashboard 👋</a>
                        <div class="login d-block align-items-center mt-3">
                            <a class="btn btn-warning text-capitalize w-100" href="#">Sign-Up🔔</a>
                        </div>
                </div>
            </div>
    </header>
    <!------------------------------>
     <!-- Header End  -->
    <!------------------------------>

    <!------------------------------>
    <!--- Hero Banner Start--------->
    <!------------------------------>
 <!--<section class="hero-banner position-relative overflow-hidden">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="position-relative left-hero-color">
                        <h1 class="mb-0 fw-bold">
                            Our Newly Featured Service 🔔
                        </h1>
                        <p>The project management tool you love.</p>
                        
                        <a href="/choose" class="btn btn-warning btn-hover-secondery"><span class="d-inline-block me-2"></span> Register Now 👋</a>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="position-relative right-hero-color">
                        <img src="static/asets/images/portfolio/Portfolio.jpg" class="img-fluid"> 
                    </div>          
                </div>
            </div>
        </div>
    </section>-->
    <!------------------------------>
    <!--- Hero Banner End--------->
    <!------------------------------>

    <!------------------------------>
    <!--- Service sectin Start------>
    <!------------------------------>
 <section class="service position-relative overflow-hidden">
        <div class="container position-relative">
         <img src="static/asets/images/service/dot-shape.png" class="shape position-absolute">
            <div class="row">
                <div class="col-12"><small class="fs-7 d-block">Working Process</small></div>
                <div class="col-12 d-xxl-flex d-xl-flex d-lg-flex d-md-flex d-sm-block d-block align-items-center justify-content-xxl-between justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-between justify-content-sm-center ">
                    <h2 class="fs-2 text-black mb-0"><b>The Residential Inventory<br> that We Provide🔔</b></h2>
                    <a href="#" class="btn btn-warning btn-hover-secondery section-btn">Sign Up 👋</a>
                </div>
            </div>
            <div class="row d-flex flex-wrap justify-content-center step-row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                                <i class="ti ti-download text-primary position-relative"></i>
                            </div>
                            <h5 class="mb-0 fw-500">Step 1</h5>
                            <h3 class="fs-4">Download our App</h3>
                            <p class="fs-7 mb-0 fw-500">There are many variations of pass for ages of oremsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                                <i class="ti ti-user text-primary position-relative"></i>
                            </div>
                            <h5 class="mb-0 fw-500">Step 2</h5>
                            <h3 class="fs-4">Create a free Account</h3>
                            <p class="fs-7 mb-0 fw-500">There are many variations of pass for ages of oremsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                                <i class="ti ti-gift text-primary position-relative"></i>
                            </div>
                            <h5 class="mb-0 fw-500">Step 3</h5>
                            <h3 class="fs-4">Now Start your Journey</h3>
                            <p class="fs-7 mb-0 fw-500">There are many variations of pass for ages of oremsum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------------------------------>
    <!--- Service sectin Start------>
    <!------------------------------>
    
    <!---------------------------------->
    <!--- Our Service sectin Start------>
    <!---------------------------------->
   
<!--
    <section class="contact bg-primary position-relative overflow-hidden">    
            <div class="trusted-companies">
                <div class="row justify-content-center">
                    <div class="col-xx-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <h3 class="fs-7 mb-0 text-white text-center">Trusted by content creators across the world</h3>
                        <ul class="d-flex flex-wrap align-items-center list-unstyled mb-0 pl-0 owl-carousel owl-theme trusted-logos">
                            <li class="text-center item"><a href="#"><img src="static/asets/images/contact/google.svg"></a></li>
                            <li class="text-center item"><a href="#"><img src="static/asets/images/contact/microsoft.svg"></a></li>
                            <li class="text-center item"><a href="#"><img src="static/asets/images/contact/amazon.svg"></a></li>
                            <li class="text-center item"><a href="#"><img src="static/asets/images/contact/unique.svg"></a></li>
                            <li class="text-center item"><a href="#"><img src="static/asets/images/contact/google.svg"></a></li>
                            <li class="text-center item"><a href="#"><img src="static/asets/images/contact/microsoft.svg"></a></li>
                            <li class="text-center item"><a href="#"><img src="static/asets/images/contact/amazon.svg"></a></li>
                            <li class="text-center item"><a href="#"><img src="static/asets/images/contact/unique.svg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
    
    </section>  -->
    <!------------------------------>
    <!--- Our Service sectin End---->
    <!------------------------------>
    
    <!------------------------------>
    <!-- Portfolio section Start---->
    <!------------------------------>
    
     
  
    <!------------------------------>
    <!-- Portfolio section End ----->
    <!------------------------------>

    <!------------------------------>
    <!-- Pricing section Start------>
    <!------------------------------>
    
  
    <!------------------------------>
    <!-- Pricing section End-------->
    <!------------------------------>

    <!------------------------------>
    <!------ FAQ section Start------>
    <!------------------------------>
    <section class="faq position-relative overflow-hidden">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <small class="fs-7 d-block">Frequently Asked Questions</small>
                    <h2 class="fs-3 text-black mb-0">Want to ask something from us?</h2>
                </div>
            </div>
            <div class="accordion-block">
                    <div class="accordion row" id="accordionPanelsStayOpenExample">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                           <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                  <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                      Letraset sheets containing sum passages ?
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                  <div class="accordion-body fs-7 fw-500 pt-0">
                                      Seamlessly see the tasks that need your attention, check when your next meeting is coming up, and keep up with your progress.
                                  </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                  <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Letraset sheets containing sum passages ?
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                  <div class="accordion-body fs-7 fw-500 pt-0">
                                      Seamlessly see the tasks that need your attention, check when your next meeting is coming up, and keep up with your progress.
                                  </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                  <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                      There are many variations ?
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                  <div class="accordion-body fs-7 fw-500 pt-0">
                                      Seamlessly see the tasks that need your attention, check when your next meeting is coming up, and keep up with your progress.
                                  </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                  <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      Lorem Ipsum generators on the Internet tend ?
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                  <div class="accordion-body fs-7 fw-500 pt-0">
                                      Seamlessly see the tasks that need your attention, check when your next meeting is coming up, and keep up with your progress.
                                  </div>
                                </div>
                            </div>
                        </div>

                       
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            
                            <div class="position-relative right-hero-color">
                                <img src="static/asets/images/portfolio/Portfolio.jpg" class="img-fluid"> 
                            </div>
                        </div>        
                       
                    </div>

                     
                       
                    </div>
                    

            </div>
        </div>
    </section>
    <!------------------------------>
    <!------ FAQ section End------>
    <!------------------------------>    
    
    <!------------------------------>
    <!-----Contact section Start---->
    <!------------------------------>
    
    <!------------------------------>
    <!-----Contact section End----->
    <!------------------------------>

    <!------------------------------>
    <!-----Footer Start------------->
    <!------------------------------>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-logo-col">
                        <a href="#">
                            <b style="font-size:20px; color:#fff; text-decoration:none;" class="text-danger">🚀 AbiTrack</b>
                        </a>
                        <p class="blue-light mb-0 fs-7 fw-500">Rakon is a simple, elegant, and secure way to build Inventory.</p>
                        <div class="callus text-white fw-500 fs-7">
                            1989 Don Jackson Lane
                            <div class="blue-light">Call us: <a href="#" class="text-warning fw-500 fs-7 text-decoration-none">808-956-9599</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <h5 class="text-white">Social</h5>
                    <ul class="list-unstyled mb-0 pl-0">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <h5 class="text-white">Company</h5>
                    <ul class="list-unstyled mb-0 pl-0">
                        <li><a href="#" >About</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Legal & Privacy</a></li>
                    </ul>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="subscribe">
                        <h5 class="text-white">Subscribe</h5>
                        <p class="blue-light fw-500">Subscribe to get the latest news form us
                        </p>
                        <div class="input-group">
                            <input type="email" class="form-control br-15" placeholder="Enter email address" aria-label="Enter email address" aria-describedby="button-addon2">
                            <button class="btn btn-warning btn-hover-secondery ms-xxl-2 ms-xl-2 ls-lg-0 ms-md-0 ms-sm-0 ms-0"  type="button" id="button-addon2">Register</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrights text-center blue-light  fw-500">@<span id="autodate">2023</span> - All Rights Reserved by Abitu Industries <a href="https://abitu.org" class="blue-light text-decoration-none"></a></div>
        </div>
    </footer>
    <!------------------------------>
    <!-------Footer End------------->
    <!------------------------------>

    
    <script src="static/dist/js/jquery.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    <script src="static/asets/libs/OwlCarousel-2/dist/owl.carousel.min.js"></script>
    <script src="static/dist/js/custom.js"></script>

</body>
</html>