{% extends 'try.html' %}
{% block body %}



<!--{{searched}}--> 



<div class="row">
  {%if posts|length < 1 %}
  
  <h4 class="text-muted">No result for the {{searched}}</h4>
  {%else %}
  <div class="row">
  {% for post in posts %}
  <div class="col-md-6">
        <div class="department-item" data-aos="fade-down-left">
          <a href="{{url_for("list", userid=post.id)}}" style="text-decoration: none; color: #992621;">
          <h5 class="names">{{ post.fullname }}</h5>
          <h6 class="text-muted">{{ post.ministry }}</h6>
          <h6 class="text-muted">{{ post.position }}</h6>
          </a>
        </div>
        </div>
  
      {% endfor %} 
      </div> 
    {%endif%}
    </div>
      </div>
    {% endblock body %}