{% extends 'basee.html' %}
{% block body %}



<!--{{searched}}--> 



<div class="row">
  {%if posts|length < 1 %}
  
  <h4 class="text-muted">No result for the {{searched}}</h4>
  {%else %}
  <div class="row">
  {% for post in posts %}
  <div class="col-md-3 col-6">
        <div class="department-item" data-aos="fade-down-left">
          <a href="{{url_for("viewlevel", userid=post.id)}}" style="text-decoration: none; color: #992621;">
            <h5 class="names" style="font-size:16px;">{{ post.name }}</h5>
            <td>{{ post.schools }}</td><br>
            <td>{{ post.year }}</td>
          </a>
        </div>
        </div>
  
      {% endfor %} 
      </div> 
    {%endif%}
    </div>
      </div>
    {% endblock body %}