{% extends 'landingpage.html' %}

{% block body %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row g-6 mb-6">
      
        

      <div class="card shadow border-0 mb-7">
        <div class="card-header d-flex" style="justify-content:space-between;">
            <h5 class="mb-0">Challenges</h5>
          <a href="/authchallenge">  <h5 class="mb-0 bg-primary text-white p-2" style="border-radius:5px; font-size:13px;"> <i class="bi bi-plus"></i>Add New</h5></a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Tag</th>
                        <th scope="col">Condition</th>
                       <!-- <th scope="col">Challenge</th>-->
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for users in users%} 
                    <tr>
                        <td>
                            <a class="text-heading font-semibold" href="#">
                                {{users.answers}}
                            </a>
                        </td>
                        <td>
                            {% if users.campus == 'High' %}
                        <span class="badge badge-pill bg-soft-danger text-danger me-2">
                            <i class="bi bi-arrow-up me-1"></i>{{ users.campus }}
                        </span>
                        {% elif users.campus == 'Medium' %}
                        <span class="badge badge-pill bg-soft-warning text-warning me-2">
                            <i class="bi bi-dash me-1"></i>{{ users.campus }}
                        </span>
                        {% elif users.campus == 'Low' %}
                        <span class="badge badge-pill bg-soft-success text-success me-2">
                            <i class="bi bi-arrow-down me-1"></i>{{ users.campus }}
                        </span>

                        {% else %}
                        <span class="badge badge-pill  text-success me-2">
                            <i class="bi bi-arrow-up me-1"></i>{{ users.campus }}
                        </span>
                        {% endif %}
                        
                            <!--<span class="badge badge-lg badge-dot">
                                <i class="bg-success"></i>{{users.campus}}
                            </span>-->
                        </td>

                        <td>
                            <span class="badge badge-lg badge-dot">
                               In-progress
                            </span>
                        </td>

                        
                      <!--  <td>
                            {{users.caption}}
                        <td>-->

                            <!-- <img alt="..." src="#" class="avatar avatar-xs rounded-circle me-2">
                           -->
                           <!-- <a class="text-heading font-semibold" href="#">
                                {{users.caption}}
                            </a>-->
                            <td>
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-success"></i>{{users.start_date}}
                            </span>

                        </td>

                        <td>
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-danger"></i>{{users.end_date}}
                            </span>
                        </td>

                        <td>
                            {% if users.status == 'pending'%}
                            <span class="badge badge-pill bg-soft-warning text-dark me-2">
                                {% elif users.status == 'in-progress'%}
                                <span class="badge badge-pill bg-soft-primary text-dark me-2">
                                {% elif users.status == 'completed'%}
                                <span class="badge badge-pill bg-soft-success text-dark me-2">
                                  
                                    {%endif%}
                                 
                               {{ users.status}}
                            </td>
                       

                        <td class="text-end">
                          <!--   if current_user.role =='admin'-->
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a  class="dropdown-item" href="{{url_for('update_goals_status', id=users.id, status='pending')}}">Pending</a></li>
                                      <li><a class="dropdown-item" href="{{url_for('update_goals_status', id=users.id, status='in-progress')}}">In-progress</a></li>
                                      <li><a class="dropdown-item" href="{{url_for('update_goals_status', id=users.id, status='completed')}}">Completed</a></li>
                                    </ul>
                                  </div>
                            </td>
                            <!--   if current_user.role =='admin'-->
                        </td>

                        
                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
        </div>
    </div>
  
 
</div>


{%endblock body%}
