{% extends 'landingpage.html' %}

{% block body %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row g-6 mb-6" style="">
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Task Completed</span>
                            <span class="h3 font-bold mb-0">{{task_com}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                <i class="bi bi-folder"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Task In-Progress</span>
                            <span class="h3 font-bold mb-0">{{task_In}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                <i class="bi bi-folder"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Task Pending</span>
                            <span class="h3 font-bold mb-0">{{task_pend}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                                <i class="bi bi-folder"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="row g-6 mb-6">
      
        

      <div class="card shadow border-0 mb-7">
        <div class="card-header d-flex" style="justify-content:space-between;">
            <h5 class="mb-0">My Target Goal</h5>
          <a href="/authchallenge">  <h5 class="mb-0 bg-primary text-white p-2" style="border-radius:5px; font-size:13px;"> <i class="bi bi-plus"></i> Add Goals</h5></a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Tag</th>
                       
                       <!-- <th scope="col">Challenge</th>-->
                       <th scope="col">Unique Code</th>
                       <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for users in users%} 
                    <tr>
                        <td>
                            <a class="text-heading font-semibold" href="#">
                                {{users.answers}}
                            </a>
                        </td>
                        <td>
                            {% if users.campus == 'High' %}
                        <span class="badge badge-pill bg-soft-danger text-danger me-2">
                            <i class="bi bi-arrow-up me-1"></i>{{ users.campus }}
                        </span>
                        {% elif users.campus == 'Medium' %}
                        <span class="badge badge-pill bg-soft-warning text-warning me-2">
                            <i class="bi bi-dash me-1"></i>{{ users.campus }}
                        </span>
                        {% elif users.campus == 'Low' %}
                        <span class="badge badge-pill bg-soft-success text-success me-2">
                            <i class="bi bi-arrow-down me-1"></i>{{ users.campus }}
                        </span>

                        {% else %}
                        <span class="badge badge-pill  text-success me-2">
                            <i class="bi bi-arrow-up me-1"></i>{{ users.campus }}
                        </span>
                        {% endif %}
                        
                         
                        </td>


                        
                         <td>
                            A2as13212w
                         </td>

                            <td>
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-success"></i>{{users.start_date}}
                            </span>

                        </td>

                        <td>
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-danger"></i>{{users.end_date}}
                            </span>
                        </td>

                        <td>
                            {% if users.status == 'pending'%}
                            <span class="badge badge-pill bg-soft-warning text-dark me-2">
                                {% elif users.status == 'in-progress'%}
                                <span class="badge badge-pill bg-soft-primary text-dark me-2">
                                {% elif users.status == 'completed'%}
                                <span class="badge badge-pill bg-soft-success text-dark me-2">
                                  
                                    {%endif%}
                                 
                               {{ users.status}}
                            </td>
                       

                        <td class="text-end">
                          <!--   if current_user.role =='admin'-->
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Actions
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a  class="dropdown-item" href="{{url_for('update_goals_status', id=users.id, status='pending')}}">Pending</a></li>
                                      <li><a class="dropdown-item" href="{{url_for('update_goals_status', id=users.id, status='in-progress')}}">In-progress</a></li>
                                      <li><a class="dropdown-item" href="{{url_for('update_goals_status', id=users.id, status='completed')}}">Completed</a></li>
                                    </ul>
                                  </div>
                            </td>
                            <!--   if current_user.role =='admin'-->
                        </td>

                        
                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Showing Goals</span>
        </div>
    </div>
  
 
</div>


{%endblock body%}
