<form id="businessForm" action="" method="POST">
  {{ form.hidden_tag() }}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger mb-3" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="form-part part-1">
    <h4><b>Tell us about your business</b></h4><br>

    <span class="error-message" id="businessCategoryError" style="color:red;"></span>
    <label>What category is your business?</label>
    {{ form.category(class="input-field my-3 my-lg-3 mt-2 space", id="businessCategory", style="padding:20px; border:1px solid #2E2D7F; border-radius:15px; width:100%; box-shadow: var(--shadow-1);", required='required') }}
    {% if form.category.errors %}
        <div class="text-danger">
            {% for error in form.category.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>
    {% endif %}

    <button type="button" class="login mb-4" style="width:100%; background-color:#7854F7;" onclick="validateAndShowNextPart(1)">Continue</button>
    <hr>
    <div class="form-check" style="margin-top:10px; margin-bottom:10px;">
      <label class="form-check-label">
        <i class="fa fa-question-circle" aria-hidden="true"></i> Already Have An Account <a href="/login">Click Here</a>
      </label>
    </div>
  </div>

  <div class="form-part part-2" style="display:none;">
    <h4><b>Let's get started.</b></h4><br>

    <span class="error-message" id="businessNameError" style="color:red;"></span>
    <label>What is your business name?</label>
    {{ form.company_name(class="input-field my-3", id="businessName", style="width:100%;", placeholder="What is the business called?") }}
    {% if form.company_name.errors %}
        <div class="text-danger">
            {% for error in form.company_name.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>
    {% endif %}

    <span class="error-message" id="emailAddressError" style="color:red;"></span>
    <label>What is your email?</label>
    {{ form.email(class="input-field my-3", id="emailAddress", style="width:100%;", placeholder="What is your email address?") }}
    {% if form.email.errors %}
        <div class="text-danger">
            {% for error in form.email.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>
    {% endif %}

    <span class="error-message" id="phoneNumberError" style="color:red;"></span>
    <label>What is your Phone Number?</label>
    {{ form.phone(class="input-field my-3", id="phoneNumber", style="width:100%;", placeholder="What is your phone number?") }}
    {% if form.phone.errors %}
        <div class="text-danger">
            {% for error in form.phone.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>
    {% endif %}

    <button type="button" class="login mb-4" style="width:100%; background-color:#7854F7;" onclick="validateAndShowNextPart(2)">Continue</button>
    <hr>
    <div class="form-check" style="margin-top:10px; margin-bottom:10px;">
      <label class="form-check-label">
        <i class="fa fa-question-circle" aria-hidden="true"></i> Already Have An Account <a href="/login">Click Here</a>
      </label>
    </div>
  </div>

  <div class="form-part part-3" style="display:none;">
    <h4><b>Fill Your Personal Information</b></h4><br>

    <span class="error-message" id="fullNameError" style="color:red;"></span>
    <label>What is your Full Name?</label>
    {{ form.name(class="input-field my-3", id="fullName", style="width:100%;", placeholder="What is your full name?") }}
    {% if form.name.errors %}
        <div class="text-danger">
            {% for error in form.name.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>
    {% endif %}

    <span class="error-message" id="passwordError" style="color:red;"></span>
    <label for="inputPassword5">What would you like to set as your account password?</label>
    {{ form.password(class="input-field my-3", id="inputPassword5", style="width:100%;", placeholder="Enter your password") }}
    {% if form.password.errors %}
        <div class="text-danger">
            {% for error in form.password.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>
    {% endif %}

    <span class="error-message" id="confirmPasswordError" style="color:red;"></span>
    <label>Please re-type your password:</label>
    {{ form.confirm_password(class="input-field my-3", id="confirmPassword", style="width:100%;", placeholder="Confirm your password") }}
    {% if form.confirm_password.errors %}
        <div class="text-danger">
            {% for error in form.confirm_password.errors %}
                <small>{{ error }}</small>
            {% endfor %}
        </div>
    {% endif %}

    <button type="button" class="login mb-4" style="width:100%;" onclick="validateAndShowNextPart(3)">Submit</button>
    <hr>
    <div class="form-check" style="margin-top:10px; margin-bottom:10px;">
      <label class="form-check-label">
        <i class="fa fa-question-circle" aria-hidden="true"></i> Already Have An Account <a href="/login">Click Here</a>
      </label>
    </div>
  </div>
</form>
