<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>DocuTrack</title>
  <meta name="title" content="Fasteat - The Best Restaurants In Your Home">
  <meta name="description" content="This is a food html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favico.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/assets/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->

</head>

<body>

  <!-- 
    - #PRELOADER
  -->

  <div class="loading-container" data-loading-container>
    <div class="loading-circle"></div>
  </div>





  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="static/assets/images/log.png" width="148" height="38" alt="">
      </a>

      <nav class="navbar" data-navbar>
        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="static/assets/images/logo.svg" width="148" height="38" alt="">
        </a>

        <!--<ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="btn btn-primary has-after">upload</a>
          </li>

          <li class="navbar-item">
            
            <a href="#" class="btn btn-primary has-after">Order Now</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="btn btn-primary has-after">Order Now</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>Contacts</a>
          </li>

        </ul>-->
     </nav>

      <div class="header-action">
        

        <a href="upload.html" class="btn btn-primary has-after">Upload</a>
      </div>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
  </header>





  <main>
    <article>
      

      <section class="section instruction" aria-labelledby="">
        <div class="container" style="margin-top:100px;">
          <input type="" name="" placeholder="Search for an item..." required class="input-field">
                 
          <h2 class="h2 section-title" id="instruction-label" data-reveal>Welcome to Document Tracker</h2>
              
          <p class="section-text" data-reveal>
            Magna sit amet purus gravida quis blandit turpis cursus. Venenatis tellus in
            metus vulputate eu scelerisque felis.
          </p>

          <ul class="grid-list">

            <li data-reveal="left">
              <div class="instruction-card">

                <figure class="card-banner">
                  <img src="static/assets/images/re.png" width="300" height="154" loading="lazy"
                    alt="Select Restaurant" class="w-100">
                </figure>

                <div class="card-content">

                  <h3 class="h5 card-title">
                    <span class="span">01</span>
                    Upload File
                  </h3>

                  <p class="card-text">
                    Non enim praesent elementum facilisis leo vel fringilla. Lectus proin nibh nisl condimentum id. Quis
                    varius quam quisque id diam vel.
                  </p>
                  <a href="upload.html" class="btn btn-secondary has-after" style="margin:auto;">Upload</a>

                </div>

              </div>
            </li>

            <li data-reveal>
              <div class="instruction-card">

                <figure class="card-banner">
                  <img src="static/assets/images/km.png" width="300" height="154" loading="lazy"
                    alt="Select menu" class="w-100">
                </figure>

                <div class="card-content">

                  <h3 class="h5 card-title">
                    <span class="span">02</span>
                    Download Your Files
                  </h3>

                  <p class="card-text">
                    Eu mi bibendum neque egestas congue quisque. Nulla facilisi morbi tempus iaculis urna id volutpat
                    lacus. Odio ut sem.
                  </p>
                  <a href="search.html" class="btn btn-secondary has-after" style="margin:auto;">Search</a>
                </div>

              </div>
            </li>

            <li data-reveal="right">
              <div class="instruction-card">

                <figure class="card-banner">
                  <img src="static/assets/images/go.png" width="300" height="154" loading="lazy"
                    alt="Wait for delivery" class="w-100">
                </figure>

                <div class="card-content">

                  <h3 class="h5 card-title">
                    <span class="span">03</span>
                    Track your Progress
                  </h3>

                  <p class="card-text">
                    Nunc lobortis mattis aliquam faucibus. Nibh ipsum consequat nisl vel pretium lectus quam id leo. A
                    scelerisque purus semper eget. Tincidunt arcu non.
                  </p>
                  <a href="track.html" class="btn btn-secondary has-after" style="margin:auto;">Track Progress</a>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>
     
          <section class="section newsletter" aria-label="newsletter">
            <div class="container" style="margin-top:50px;">
    
              <figure class="newsletter-banner" data-reveal="left">
               
                <img src="https://t3.ftcdn.net/jpg/03/39/70/90/360_F_339709048_ZITR4wrVsOXCKdjHncdtabSNWpIhiaR7.jpg" width="680" height="405" loading="lazy" alt="Illustration"
                  class="w-100">
              </figure>
    
              <div class="newsletter-content" data-reveal="right">
                
                <h2 class="h4 section-title" style="text-align:center;">
                  Staff Login
                 </h2>
                 <p class="section-text" style="text-align:center; margin-bottom:20px;" data-reveal>
                   Magna sit amet purus gravida quis blandit turpis cursus. Venenatis tellus in
                   metus vulputate eu scelerisque felis.
                 </p>
                <div class="input-wrapper">
                  <input type="" name="" placeholder="Email" required class="input-field">
                  <input type="" name="" placeholder="Pasword" required class="input-field">
                  <input type="" name="" placeholder="Pasword" required class="input-field">
                  
                 <button type="submit" style="margin:auto;" class="btn btn-primary has-after">
                    
    
                    <span class="span">Send</span>
                  </button>
                </div>
                <input type="" name="" placeholder="Pasword" required class="input-field">
                  
              </div>
    
            </div>
          </section>

        </div>
      </section>



     

     

    </article>
  </main>



  <script src="static/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>