{% extends 'pagebase.html' %}

{% block body %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div class="row g-6 mb-6">
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                
                <a href="/gemini">  <h5 class="mb-0 bg-primary text-white p-2" style="border-radius:5px; font-size:13px; width:130px;"> Ask Stock Master</h5></a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                           <!-- <th scope="col">Product ID</th>-->
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>  
                            <th scope="col">Condition</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Date</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                       
                        
                        

                        {% for users in users %} 
                        <tr>
                           <!-- <td>{{ users.unique_code }}</td>-->
                            <td><a class="text-heading font-semibold" href="#">{{ users.name }}</a></td>
                            <td><a class="text-heading font-semibold" href="#">{{ users.group.name }}</a></td>
                     
                               
                            
                               <!-- Adjust the field according to your model -->
                                    <td>
                                        {% if users.quantity | int >= 20 %}
                                        <span class="badge badge-pill bg-soft-success text-success me-2">
                                            <i class="bi bi-arrow-up me-1"></i>In-stock
                                        </span>
                                    {% elif users.quantity | int >= 10 and users.quantity | int <= 20 %}
                                        <span class="badge badge-pill bg-soft-warning text-warning me-2">
                                            <i class="bi bi-dash me-1"></i>Low Stock
                                        </span>
                                    {% elif users.quantity | int < 10 %}
                                        <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                            <i class="bi bi-arrow-down me-1"></i>Out of Stock
                                        </span>
                                    {% endif %}
                                    </td>
                             
                               
                            </td>
                            <td>{{ users.quantity }}</td>
                            <td>$ {{ users.price }}.00</td>
                            <td>{{ users.start_date }}</td>
                            <!--<td class="text-end">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-square btn-neutral dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/deleteproduct/{{ users.id }}"><i class="bi bi-trash"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </td>-->
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    
                </table>
            </div>
            <div class="card-footer border-0 py-5">
              
                <span class="text-muted text-sm"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Report</h1>
                <div class="d-flex;">
                    <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function generateRandomCode() {
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var codeLength = 6;
        var code = '';
        for (var i = 0; i < codeLength; i++) {
            var randomIndex = Math.floor(Math.random() * characters.length);
            code += characters.charAt(randomIndex);
        }
        return code;
    }

    document.getElementById('faqForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var uniqueCode = generateRandomCode();
        document.getElementById('uniqueCode').innerText = 'Unique Code: ' + uniqueCode;
    });
</script>
{% endblock %}
