{% extends 'concept-master/basee.html' %}
{% block body %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hello {{current_user.company_name}}, </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Employees</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
             
                <div class=" text-center p-3 mb-5 z-index-2 alert alert-light alert-dismissible fade show shadow" role="alert" style="background-color:#fff; background-image:url();background-position:bottom right; background-size:cover;background-position: center;
                    background-repeat: no-repeat; ">
                    <img src="https://cdn.dribbble.com/users/1283120/screenshots/6323960/mib-giftbox-with-background.gif" style="width:200px;">
                    <h4 class="fs-1"><b> Earn Points With Referrals.</b></h4>
                    <h6 class="fs-6">Encourage business by sharing your unique referral link, Its that easy<h6>
                        <p class="fs-4"><b>Your have earned: +{{ points }} Points</b></p>
                    
                        <div class="col col-sm-8 d-flex mt-3 mx-auto col-lg-8 offset-sm-1 offset-lg-0">
                            <input type="text" required="" value="{{ referral_link }}" readonly onclick="this.select()" data-parsley-length="" placeholder="Type Price..." class="form-control">
                            <button class="btn btn-space p-3 btn-outline-light" onclick="navigator.clipboard.writeText('{{ referral_link }}')">Copy</button>
                        </div>
                        
                    <!-- Referral terms and conditions<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
                </div>


                <div class="row">
                    <!-- metric -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mx-auto justify-content-center">
                                    <img src="https://store.toogoodtogo.com/static/dd9dae410f0e65fd9d8b.svg" style="width:200px;">
                                    <h5 class="text-center">100+ Points</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mx-auto justify-content-center">
                                    <img src="https://store.toogoodtogo.com/static/dd9dae410f0e65fd9d8b.svg" style="width:200px;">
                                    <h5 class="text-center">350+ Points</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mx-auto justify-content-center">
                                    <img src="https://store.toogoodtogo.com/static/dd9dae410f0e65fd9d8b.svg" style="width:200px;">
                                    <h5 class="text-center">750+ Points</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mx-auto justify-content-center">
                                    <img src="https://store.toogoodtogo.com/static/dd9dae410f0e65fd9d8b.svg" style="width:200px;">
                                    <h5 class="text-center">1000+ Points</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                

                                  
                    <!-- ============================================================== -->
                    <!-- end valifation types -->
                    <!-- ============================================================== -->
                </div>
           
            </div>
            {% endblock body %}