{% extends 'concept-master/basee.html' %}
{% block body %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hello {{current_user.company_name}}, </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Products</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
             
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- valifation types -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Add {{current_user.category}} Product</h5>
                            <div class="card-body">
                                <form id="validationform" method="POST" action="/addproduct"  data-parsley-validate="" novalidate="">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Choose Warehouse</label>
                                        <div class="col-sm-4 col-lg-5 mb-3 mb-sm-0">
                                            {{form.group(type="text", class="form-control", placeholder="Recipient's username")}}
                                        </div>
                                        <div class="col-sm-4 col-lg-1">
                                           <a href="{{url_for('warehouse')}}" class="btn bg-primary text-center"> 
                                        <i class="fas fa-plus"></i> Add New</a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right"></label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                    <p class="text-lg-center bg-primary border-0 p-2 rounded">Add a Warehouse if you havent</p>

                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Enter Product Name</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input type="text"  name="item_name" required="" data-parsley-minlength="" placeholder="Type Product..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Enter Quantity</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input type="number" name="quantity" required="" data-parsley-maxlength="" placeholder="Type Quantity..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Enter Price</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input type="number" required="" name="price" data-parsley-length="" placeholder="Type Price..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Pick Demand</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            {{form.tag(type="text", class="form-control", placeholder="Recipient's username")}}
       
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Description</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <textarea required="" name="des" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row text-right">
                                        <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                            <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                            <button class="btn btn-space btn-secondary">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end valifation types -->
                    <!-- ============================================================== -->
                </div>
           
            </div>
            {% endblock body %}