<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet'>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <!-- Add these in your base template or the template where you're using modals -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Bootstrap JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/mainassets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="static/mainassets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="static/mainassets/libs/css/style.css">
    <link rel="stylesheet" href="static/mainassets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="static/mainassets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="static/mainassets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="static/mainassets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/mainassets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="static/mainassets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Abitrack Inventory Management</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">q</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        
                        
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="static/mainassets/images/github.png" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="static/mainassets/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="static/mainassets/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="static/mainassets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="static/mainassets/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="static/mainassets/images/slack.png" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="static/mainassets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{current_user.company_name}} </h5>
                                    <span class="status"></span><span class="ml-2">{{current_user.category}}</span>
                                </div>
                                <a class="dropdown-item" href="{{url_for('myprofile')}}"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="{{url_for('logout')}}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/homepage" style="font-size:15px;"  aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('create')}}"  aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-camera"></i> Scan Invoice </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('warehouse')}}" aria-expanded="false" ><i class="fas fa-f fa-folder"></i>Warehouse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('myproduct')}}"  aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>My Product</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('cashflow')}}"  aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-money-bill-alt"></i>Cash Flow</a>
                            </li>
                           <!-- <li class="nav-item ">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('reportme')}}"  aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Reports</a>
                            </li>-->
                            
                            <li class="nav-divider">
                                Shortcut
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('achievement')}}"  aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Achievement </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('taskme')}}"  aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Task <span class="badge badge-secondary">New</span></a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('employee')}}"  aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Employees</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="font-size:15px;" href="{{url_for('purchase')}}"  aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>Expense Order</a>
                            </li>-->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

  
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
            {% block body %}
            
            
            {% endblock%}
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2018 Abitrack. All rights reserved. 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
<div id="chat-bot">
    <div class="messenger br10">
      <div class="timestamp">04:45 AM</div>
      <div class="chatroom">
        <!-- msgs  -->
        <div class="msg msg-left">
          <div class="bubble">
            <h6 class="name">Hello, {{current_user.company_name}} </h6>
            How can I help you today?
          </div>
        </div>
        <!--<div class="msg msg-right">
          <div class="bubble">
            Oh! Look at you. You are awesome
          </div>
        </div>-->
       
       
  
        
        <!-- msgs  -->
      </div>
      <div class="type-area">
        <input type="text" class="typing" placeholder="Type Here...">
        <span class="send">
          <i class="bi bi-arrow-return-left"></i>
        </span>
      </div>
    </div>
    <div class="icon">
      <div class="user">
        <i class="bi bi-person-circle me-2"></i>
        Stock Master
      </div>
      <i class="bi bi-x-lg"></i>
    </div>
  </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->

    <script>
        const chat_btn = $("#chat-bot .icon");
        const chat_box = $("#chat-bot .messenger");
        
        chat_btn.click(() => {
          chat_btn.toggleClass("expanded");
          setTimeout(() => {
            chat_box.toggleClass("expanded");
          }, 100);
        });
        
        function createOrder() {
        // You can redirect to the order page like this:
        window.location.href = "/ai";
        }
        </script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myModal = new bootstrap.Modal(document.getElementById('myModal'));
            myModal.show();
        });
        </script>
        

<script>
const chat_btn = $("#chat-bot .icon");
const chat_box = $("#chat-bot .messenger");

chat_btn.click(() => {
  chat_btn.toggleClass("expanded");
  setTimeout(() => {
    chat_box.toggleClass("expanded");
  }, 100);
});

function createOrder() {
// You can redirect to the order page like this:
window.location.href = "/ai";
}
</script>


<script>
var idleTime = 0;
var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

$(document).ready(function () {
console.log("Document ready");
// Zero the idle timer on mouse movement or keypress
$(this).mousemove(function (e) {
    idleTime = 0;
    console.log("Mouse moved, idleTime reset to 0");
});
$(this).keypress(function (e) {
    idleTime = 0;
    console.log("Key pressed, idleTime reset to 0");
});
});

function timerIncrement() {
idleTime++;
console.log("Idle time incremented to", idleTime);
if (idleTime > 19) { // 2 minutes
    alert("Your Session will be logged out soon, check out our new AI Feature 🥳.");
    $.ajax({
        url: "{{ url_for('log_inactivity') }}",
        method: "POST",
        data: JSON.stringify({ message: "User is inactive" }),
        contentType: "application/json",
        success: function(response) {
            console.log("Inactivity logged:", response);
            setTimeout(function() {
                console.log("Redirecting to logout");
                window.location.href = "{{ url_for('logout') }}";
            }, 60000); // 1 minute later
        }
    });
}
}
</script>


<script>
function generateRandomCode() {
var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
var codeLength = 6;
var code = '';
for (var i = 0; i < codeLength; i++) {
    var randomIndex = Math.floor(Math.random() * characters.length);
    code += characters.charAt(randomIndex);
}
return code;
}

// Generate and display the unique code when the form is submitted
document.getElementById('faqForm').addEventListener('submit', function(event) {
event.preventDefault();  // Prevent the form from submitting
var uniqueCode = generateRandomCode();
document.getElementById('uniqueCode').innerText = 'Unique Code: ' + uniqueCode;
});
</script>

<!-- Bootstrap JavaScript and Popper.js (Order is important) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Triggering the Toast -->
<!-- Your existing HTML code -->

<!-- Bootstrap JS (Make sure to include Popper.js and Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- Your custom JavaScript code -->


<!-- Your existing HTML code -->


<script async="" type="text/javascript" src="https://www.myhealth1st.com.au/mh1-widget/2021/popup.v3.js"></script>
<!-- End of MyHealth1st Widget code -->

<!-- 
- custom js link

<!-- 
- ionicon link
-->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>

<!-- <script defer src="//firebase/8.9.1/firebase-storage.js"></script> -->


<script>
document.addEventListener("DOMContentLoaded", function () {
// Simulate delay for demonstration purposes
setTimeout(function () {
    // Hide loading screen and display content
    document.getElementById("loadingScreen").style.display = "none";
    document.getElementById("mainContent").style.display = "block";
}, 2000); // Adjust the delay time as needed
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Triggering the Toast -->
<!-- <script>
var toastElement = new bootstrap.Toast(document.querySelector('.toast'));
toastElement.show();
</script>-->


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>

<!-- <script defer src="//firebase/8.9.1/firebase-storage.js"></script> -->

<!-- Bootstrap JS (Make sure to include Popper.js and Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- Your custom JavaScript code -->
<script>
document.addEventListener('DOMContentLoaded', function () {
var liveToastBtn = document.getElementById('liveToastBtn');
var liveToast = new bootstrap.Toast(document.getElementById('liveToast'));

liveToastBtn.addEventListener('click', function () {
    liveToast.show();
});
});
</script>

<script>
// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
apiKey: "AIzaSyBPHDVrXV4nn_4agQgWFItDlS8z9cvq5zw",
authDomain: "centralalumni.firebaseapp.com",
projectId: "centralalumni",
storageBucket: "centralalumni.appspot.com",
messagingSenderId: "270504690849",
appId: "1:270504690849:web:b03ee12ab92e157196dce0",
measurementId: "G-9T21K58F10"
};

// Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.analytics();
</script>
    <script src="static/mainassets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="static/mainassets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="static/mainassets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="static/mainassets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="static/mainassets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="static/mainassets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="static/mainassets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="static/mainassets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="static/mainassets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="static/mainassets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="static/mainassets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="static/mainassets/libs/js/dashboard-ecommerce.js"></script>
</body>
 
</html>