{% extends 'concept-master/basee.html' %}
{% block body %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div id="myModal" class="modal fade" id="autoFillModal" tabindex="-1" role="dialog" aria-labelledby="autoFillModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-flex">
                            <h5 class="modal-title" id="autoFillModalLabel">Welcome to Abitrack!</h5>
                            🤗
                        </div>
                        <div class="modal-body">
                            <div class="form-group" style="text-align:center;">
                                <div class="d-flex flex-wrap justify-content-center">
                                    
                                    <h3 class="modal-title  justify-content-center">Hello {{current_user.company_name}}, Take A Quick Tour!</h3>
                            <p class="lead justify-content-center"> Start by creating your warehouse to stay organised</p>

                                            <p class="justify-content-center"> Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                <br> Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{{url_for('warehouse')}}">{{ form.submit(class="btn btn-success", value="Create WareHouse") }}</a>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Skip for now</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Hello {{current_user.company_name}},</h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{current_user.category}}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            
            <!-- ============================================================== -->
            <div class="ecommerce-widget ">
                <div class="row ">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header"><a href="{{url_for('banneredit')}}"><i class="fa fa-fw fa-edit"></i> Edit Business Banner</a></h5>
                            <div class="card-body">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for user in users %}
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="{{ user.image_file }}" style="height:300px; object-fit:cover;">
                                        </div>
                                        {% endfor %}

                                        <!--<div class="carousel-item">
                                            <img class="d-block w-100" src="https://earlygrowthfinancialservices.com/wp-content/uploads/2020/07/AdobeStock_338508879.jpeg" alt="Second slide"style="height:300px; object-fit:cover;">
                                        </div>-->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                <div class="row ">
                    <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-muted">Total Income Budget</h5>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1">0.00</h1>
                                </div>
                                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                </div>
                            </div>
                            <div id="sparkline-revenue"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-muted">Total Product</h5>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1">0</h1>
                                </div>
                                <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                </div>
                            </div>
                            <div id="sparkline-revenue2"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-muted">Total Warehouse</h5>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1">0</h1>
                                </div>
                                <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                                </div>
                            </div>
                            <div id="sparkline-revenue3"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-muted">My Achievement</h5>
                                <div class="metric-value d-inline-block">
                                    <h1 class="mb-1">0</h1>
                                </div>
                                <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                                </div>
                            </div>
                            <div id="sparkline-revenue4"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- ============================================================== -->
              
                    <!-- ============================================================== -->

                                  <!-- recent orders  -->
                    <!-- ============================================================== -->
<!--                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Recent Orders</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th class="border-0">Image</th>
                                                <th class="border-0">Product Name</th>
                                                <th class="border-0">Product Id</th>
                                                <th class="border-0">Quantity</th>
                                                <th class="border-0">Price</th>
                                                <th class="border-0">Order Time</th>
                                                <th class="border-0">Customer</th>
                                                <th class="border-0">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="m-r-10"><img src="static/mainassets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                                </td>
                                                <td>Product #1 </td>
                                                <td>id000001 </td>
                                                <td>20</td>
                                                <td>$80.00</td>
                                                <td>27-08-2018 01:22:12</td>
                                                <td>Patricia J. King </td>
                                                <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <div class="m-r-10"><img src="static/mainassets/images/product-pic-2.jpg" alt="user" class="rounded" width="45"></div>
                                                </td>
                                                <td>Product #2 </td>
                                                <td>id000002 </td>
                                                <td>12</td>
                                                <td>$180.00</td>
                                                <td>25-08-2018 21:12:56</td>
                                                <td>Rachel J. Wicker </td>
                                                <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <div class="m-r-10"><img src="static/mainassets/images/product-pic-3.jpg" alt="user" class="rounded" width="45"></div>
                                                </td>
                                                <td>Product #3 </td>
                                                <td>id000003 </td>
                                                <td>23</td>
                                                <td>$820.00</td>
                                                <td>24-08-2018 14:12:77</td>
                                                <td>Michael K. Ledford </td>
                                                <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>
                                                    <div class="m-r-10"><img src="static/mainassets/images/product-pic-4.jpg" alt="user" class="rounded" width="45"></div>
                                                </td>
                                                <td>Product #4 </td>
                                                <td>id000004 </td>
                                                <td>34</td>
                                                <td>$340.00</td>
                                                <td>23-08-2018 09:12:35</td>
                                                <td>Michael K. Ledford </td>
                                                <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
                </div>
                

                
                <div class="row ">
                    
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">My Task</h5>
                            <div class="card-body">
                                <h5 class=" text-center"> No Task yet!</h5>
                              
                                <p class=" text-center">CheckList On Your Task Now</p>
                                <!--<ul class="traffic-sales list-group list-group-flush">
                                   
                                    <li class="traffic-sales-content list-group-item">
                                        <span class="traffic-sales-name">
                                        Save 10,000 by March<span class="traffic-sales-amount">
                                             <span class="text-white b-2 rounded p-1 ml-4 bg-warning">
                                           In-progress
                                            </span>
                                        </span>
                                        </span>
                                    </li>-->
                                   <!--
                                    <li class="traffic-sales-content list-group-item">
                                        <span class="traffic-sales-name">
                                        Save 1000 by Febuary<span class="traffic-sales-amount">
                                             <span class="text-white b-2 rounded p-1 ml-4 bg-success">
                                                Done                                            
                                                </span>
                                        </span>
                                        </span>
                                    </li>
                                    <li class="traffic-sales-content list-group-item">
                                        <span class="traffic-sales-name">
                                        Save 1000 by Febuary<span class="traffic-sales-amount">
                                             <span class="text-white b-2 rounded p-1 ml-4 bg-success">
                                                Done                                            
                                                </span>
                                        </span>
                                        </span>
                                    </li> 
                                </ul>-->
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn-primary-link ">My CheckList</a>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end category revenue  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header"> Stock keeper</h5>
                            <div class="card-body">
                            <h5 class=" text-center"> No Stock yet!</h5>
                            <p class=" text-center">CheckList On Your Stock Now</p>
                            
                               <!--<ul class="traffic-sales list-group list-group-flush">
                                   
                                    <li class="traffic-sales-content list-group-item"><span class="traffic-sales-name">
                                        Macbook<span class="traffic-sales-amount"> 52 <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success"></span></span>
                                        </span>
                                    </li>
                                    <li class="traffic-sales-content list-group-item"><span class="traffic-sales-name">
                                        Iphone<span class="traffic-sales-amount ">52   <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success"></span></span>
                                        </span>
                                    </li>
                                    <li class="traffic-sales-content list-group-item"><span class="traffic-sales-name">
                                        Office Desk<span class="traffic-sales-amount "> 52  <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1 text-success"></span></span>
                                        </span>
                                    </li>
                                   
                                   
                                </ul>-->
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn-primary-link">My CheckList</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        
                        <div class="card">
                            <h5 class="card-header"> My Achievement</h5>
                            <div class="card-body">
                                    <h5 class=" text-center"> No Achievement yet!</h5>
                                    <p class=" text-center">CheckList On Your Achievement Now</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#" class="btn-primary-link">My CheckList</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <!-- ============================================================== -->
                    <!-- accrodions style one -->
                    <!-- ============================================================== -->
                    <div class="card col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="section-block">
                            <h5 class="section-title">Setup Checklist</h5>
                            <p class="text-success">CheckList On Your Dashboard</p>
                           
                            <hr>       
                        </div>
                               
                        <div class="accrodion-regular">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <div class="custom-control custom-checkbox was-validated">
                                            <input type="checkbox" class="custom-control-input valid" style="font-size:20px;"  checked id="customControlValidation2" required>
                                            <label class="text-success">First CheckList</label>
                                        </div>
                                        <h5 class="mb-0 fs-1" >
                                           <button style="font-size:20px;" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Create Your Warehouse
                                           </button>
                                          </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="lead"> 100%: Start by creating your warehouse to stay organised</p>
                                            <p> Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                           <a href="{{url_for('warehouse')}}" class="btn btn-success">Let's Get Started</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <div class="custom-control custom-checkbox was-validated">
                                            <input type="checkbox" class="custom-control-input valid" style="font-size:20px;"  checked id="customControlValidation2" required>
                                            <label class="text-success">Second CheckList</label>
                                        </div>
                                        <h5 class="mb-0">
                                           <button style="font-size:20px;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Track All Products
                                         </button>       </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="lead"> Start by creating your warehouse to stay organised</p>

                                           <p> Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                            <a href="{{url_for('addproduct')}}" class="btn btn-success">Let's Go</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header" id="headingThree">
                                       
                                        <div class="custom-control custom-checkbox was-validated">
                                            <input type="checkbox" class="custom-control-input valid" style="font-size:20px;"  checked id="customControlValidation2" required>
                                            <label class="text-success">Last CheckList</label>
                                        </div>
                                        
                                        <h5 class="mb-0">
                        <button style="font-size:20px;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Set Your Business Achievement
                                         </button>
                                                   </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="lead"> Start by creating your warehouse to stay organised</p>

                                            <p> Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                            <a href="{{url_for('createachievement')}}" class="btn btn-success">Go Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                        
                        <div class="accrodion-regular">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                           <button class="btn btn-link text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Tips On Your Dashboard
                                           </button>
                                          </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body text-center">
                                           <img src="https://wishlistmember.com/wp-content/uploads/2024/03/zoom-icon.png" style="width:100px;">
                                           <h4> Tips On Abitrack</h4>
                                           <p> Boost your workflow in minutes with ready-made templates</p>
                                            <a href="#" class="btn btn-primary text-center">Watch Demo</a>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
   
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>




<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));
        myModal.show();
    });
</script>
{% endblock body %}