{% extends 'concept-master/basee.html' %}
{% block body %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Hello {{current_user.company_name}},</h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">My Product</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            
            {%if total_students == 0 %}
         <div class=" row">
                <div class="mx-auto col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                    
                    <div class="accrodion-regular">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                       <button class="btn btn-link text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      All My Product
                                       </button>
                                      </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body text-center">
                                      <h4> No Product Yet!</h4>
                                      <p> Boost your workflow in minutes with abitrack</p>
                                       <a href="{{url_for('addproduct')}}" class="btn btn-primary text-center">Add Product Here</a>
                                   </div>
                               </div>
                           </div>
                           
                           
                       </div>
                   </div>
               </div>
               
           </div>
           {%else%}
           <a href="{{url_for('addproduct')}}" class="btn btn-primary text-center mb-4">Add Product Here</a>
                <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Recent Orders</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0"></th>
                                                <th class="border-0">Select</th>
                                               
                                                <th class="border-0">Product Id</th>
                                                <th class="border-0">Product Name</th>
                                                <th class="border-0">WareHouse</th>
                                                <th class="border-0">Condition</th>
                                                <th class="border-0">Quantity</th>
                                                <th class="border-0">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for users in users%} 
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="custom-control custom-checkbox">
                                                            <input class="custom-control-input"  onclick="myFunction()" type="checkbox"><span class="custom-control-label"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>{{ users.unique_code }} </td>

                                                <td class="col-2 text-truncate">
                                                    <span class="d-inline-block text-truncate" style="max-width: 50px;">
                                                   {{users.name}}
                                                      </span>
                                                        
                                                </td>
                                                <td> {{users.group.name}}</td>
                                                <td>{% if users.quantity | int >= 20 %}
                                                    <span class="badge badge-pill bg-success text-white fw-bold me-2">
                                                        <i class="fas fa-check-circle text-white" aria-hidden="true"></i> In-stock
                                                    </span>
                                                {% elif users.quantity | int >= 10 and users.quantity | int <= 20 %}
                                                    <span class="badge badge-pill bg-warning text-white fw-bold me-2">
                                                        <i class="fas fa-dot-circle text-white" aria-hidden="true"></i> Low Stock
                                                    </span>
                                                {% elif users.quantity | int < 10 %}
                                                    <span class="badge badge-pill bg-danger text-white fw-bold me-2">
                                                        <i class=" fas fa-circle text-white" aria-hidden="true"></i> Out of Stock
                                                    </span>
                                                {% endif %}</td>
                                                <td>{{users.quantity}}</td>
                                                <td>{{users.price}}</td>
                                               <!-- <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td>-->
                                            </tr>
                                            
                                            
                                            
                                           
                                            {%endfor%}
                                            <tr>
                                                <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                {%endif%}

                
                

            </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!--<div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                     Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>
{% endblock body %}