{% extends 'concept-master/basee.html' %}
{% block body %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Hello {{current_user.company_name}}, </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Profile</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
             
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- valifation types -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">My {{current_user.category}} Profile</h5>
                            <div class="card-body">
                                <form id="validationform" data-parsley-validate="" novalidate="">
                                    
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right"></label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                    <p class="text-lg-center bg-primary border-0 p-2 rounded fs-1">Edit Your Profile</p>

                                        </div>
                                    </div>
                                    

                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">User Name</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input id="pass2" type="password" required="" placeholder="" class="form-control">
                                        </div>
                                       
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Personal Email</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input type="email" required="" data-parsley-minlength="" placeholder="Type Product..." class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Business Email</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input type="email" required="" data-parsley-maxlength="" placeholder="Type Quantity..." class="form-control">
                                        </div>
                                    </div>
                                    

                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">Phone Number</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <input type="number" id="inputText4" required="" data-parsley-min="6" placeholder="+1XXXXXXXXXX" class="form-control">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-3 col-form-label text-sm-right">{{current_user.category}} Bio</label>
                                        <div class="col-12 col-sm-8 col-lg-6">
                                            <textarea required="" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row text-right">
                                        <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                            <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                            <button class="btn btn-space btn-secondary">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end valifation types -->
                    <!-- ============================================================== -->
                </div>
           
            </div>
            {% endblock body %}